@page "/page/help/howcreate/excursion"

<h1>Как создать экскурсию</h1>
<p>1. В меню навигации выбрать пункт "Экскурсии""</p>
<img src="public/how-create-excursion-1.1.1.png" style="width: 1000px" />
<p>2. В открывшемся окне нажать на кнопку "Добавить"</p>
<img src="public/how-create-excursion-2.1.1.png" style="width: 1000px" />
<p>3. Для заполнения названия экскурсии необходимо нажать на поле ввода под словами "Введите название экскурсии"</p>
<img src="public/how-create-excursion-3.1.1.png" style="width: 1000px" />
<p>4. Данное поле предполагает возможность локализации. Смотреть руководство по локализации</p>
<img src="public/how-create-excursion-4.1.1.png" style="width: 1000px" />
<p>5. Для заполнения описания экскурсии необходимо нажать на поле ввода под словами "Введите описание экскурсии"</p>
<img src="public/how-create-excursion-5.1.1.png" style="width: 1000px" />
<p>6. Данное поле также предполагает локализацию. Смотреть руководство по локализаци</p>
<img src="public/how-create-excursion-6.1.1.png" style="width: 1000px" />
<p>7. Для выбора типа экскурсии необходимо нажать на поле с выбором, которое находится под текстом "Выберите тип экскурсии"</p>
<img src="public/how-create-excursion-7.1.png" style="width: 1000px" />
<p>8. После нажатия необходимо выбрать один из двух вариантов, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-excursion-8.1.png" style="width: 1000px" />
<img src="public/how-create-excursion-8.2.png" style="width: 1000px" />
<p>9. Для добавления в экскурсию залов, необходимо нажать на кнопку "Добавить залы экскурсии"</p>
<img src="public/how-create-excursion-9.1.png" style="width: 1000px" />
<p>10. После нажатия должно появиться поле с выбором.</p>
<img src="public/how-create-excursion-10.1.png" style="width: 1000px" />
<p>11. Для выбора зала необходимо нажать на поле с выбором, выбрать необходимый зал и нажать на кнопку "Добавить", которая находится правее поля с выбором.</p>
<img src="public/how-create-excursion-11.1.png" style="width: 1000px" />
<img src="public/how-create-excursion-11.2.png" style="width: 1000px" />
<p>12. В случае необходимости добавления дополнительных залов смотретьт пункты 9-11</p>
<p>13. Для сохранения экскурсии необходимо нажать кнопку "Создать экскурсию", находящуюся в правой нижней части экрана</p>
<img src="public/how-create-excursion-12.1.png" style="width: 1000px" />
