@page "/page/help/howcreate/exhibit"

<h1>Как создать экспонат</h1>
<p>1. В меню навигации выбрать пункт "Экскпонаты"</p>
<img src="public/how-create-exhibit-1.png" style="width: 1000px" />
<p>2. В открывшемся окне нажать на кнопку "Добавить"</p>
<img src="public/how-create-exhibit-2.png" style="width: 1000px" />
<p>3. Для заполнения названия экскурсии необходимо нажать на поле ввода под словами "Введите название экспоната"</p>
<img src="public/how-create-exhibit-3.png" style="width: 1000px" />
<p>4. Данное поле предполагает возможность локализации. Смотреть руководство по локализации</p>
<img src="public/how-create-exhibit-4.png" style="width: 1000px" />
<p>5. Для заполнения названия экскурсии необходимо нажать на поле ввода под словами "Введите описание экспоната"</p>
<img src="public/how-create-exhibit-5.png" style="width: 1000px" />
<p>6. Для добавления озучки необходимо нажать на кнопку "Добавить озвучку"</p>
<img src="public/how-create-exhibit-6.png" style="width: 1000px" />
<p>7. Для выбора озвучки необходимо нажать на поле с выбором, которое находится под текстом "Выберите озвучку"</p>
<img src="public/how-create-exhibit-7.png" style="width: 1000px" />
<p>8. После нажатия необходимо выбрать озвучку, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-exhibit-8.png" style="width: 1000px" />
<p>9. Если необходимо добавить несколько экземпляров озвучки повторить пункты 6-8.</p>
<p>10. В случае, если нужно добавить озвучку, которой нет в предложенном списке, при выборе озвучки необходимо выбрать пункт "Добавить новый элемент", после чего нажать кнопку "Добавить", находящуюся правее поля с выбором.</p>
<p>11. Для заполнения созданного элемента необходимо нажать на блок со стрелкой. Развернется форма.</p>
<img src="public/how-create-exhibit-9.png" style="width: 1000px" />
<p>12. Для заполнения названия озвучки необходимо нажать на поле ввода под словами "Введите название по каталогу"</p>
<img src="public/how-create-exhibit-10.png" style="width: 1000px" />
<p>13. Для добавления анимации гида необходимо нажать на кнопку "Добавить анимацию гида"</p>
<img src="public/how-create-exhibit-11.png" style="width: 1000px" />
<p>14. Для выбора анимации гида необходимо нажать на поле с выбором, которое находится под текстом "Выберите анимацию гида"</p>
<img src="public/how-create-exhibit-12.png" style="width: 1000px" />
<p>15. После нажатия необходимо выбрать анимацию гида, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-exhibit-13.png" style="width: 1000px" />
<p>16. Если необходимо добавить несколько анимаций гида повторить пункты 13-15.</p>
<p>17. Для заполнения субтитров необходимо нажать на поле ввода под словами "Введите субтитры"</p>
<img src="public/how-create-exhibit-14.png" style="width: 1000px" />
<p>18. Данное поле предполагает возможность локализации. Смотреть руководство по локализации</p>
<img src="public/how-create-exhibit-15.png" style="width: 1000px" />
<p>19. Для добавления задержки при воспроизведении аудио необходимо нажать на поле ввода под словами "Введите задержку при воспроизведении аудио"</p>
<img src="public/how-create-exhibit-16.png" style="width: 1000px" />
<p>20. Для добавления файла аудио к вопросу необходимо нажать на кнопку "Choose file"</p>
<img src="public/how-create-exhibit-17.png" style="width: 1000px" />
<p>21. В открывшемся окне необходимо найти требуемое аудио файл на компьютере и выбрать его</p>
<img src="public/how-create-exhibit-18.png" style="width: 1000px" />
<p>22. Данное поле предполагает возможность локализации. Смотреть руководство по локализации</p>
<img src="public/how-create-exhibit-19.png" style="width: 1000px" />
<p>23. Для добавления ответов на часто задаваемые вопросы необходимо нажать на кнопку "Добавить часто задаваемые вопросы"</p>
<img src="public/how-create-exhibit-20.png" style="width: 1000px" />
<p>24. Для выбора ответов на часто задаваемые вопросы необходимо нажать на поле с выбором, которое находится под текстом "Выберите часто задаваемые вопросы"</p>
<img src="public/how-create-exhibit-21.png" style="width: 1000px" />
<p>25. После нажатия необходимо выбрать ответов на часто задаваемые вопросы, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-exhibit-22.png" style="width: 1000px" />
<p>26. Если необходимо добавить несколько ответов на часто задаваемые вопросы повторить пункты 23-25.</p>
<p>27. Для добавления изображений необходимо нажать на кнопку "Добавить изображения"</p>
<img src="public/how-create-exhibit-23.png" style="width: 1000px" />
<p>28. Для выбора изображения необходимо нажать на поле с выбором, которое находится под текстом "Выберите изображения"</p>
<img src="public/how-create-exhibit-24.png" style="width: 1000px" />
<p>29. После нажатия необходимо выбрать изображение, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-exhibit-25.png" style="width: 1000px" />
<p>30. Если необходимо добавить несколько экземпляров изображений повторить пункты 27-29.</p>
<p>31. В случае, если нужно добавить изображение, которого нет в предложенном списке, при выборе изображения необходимо выбрать пункт "Добавить новый элемент", после чего нажать кнопку "Добавить", находящуюся правее поля с выбором.</p>
<p>32. Для заполнения созданного элемента необходимо нажать на блок со стрелкой. Развернется форма.</p>
<p>33. Для заполнения названия озвучки необходимо нажать на поле ввода под словами "Введите название по каталогу"</p>
<img src="public/how-create-exhibit-26.png" style="width: 1000px" />
<p>34. Для добавления длительности отображения картинки необходимо нажать на поле ввода под словами "Введите длительности отображения картинки"</p>
<img src="public/how-create-exhibit-27.png" style="width: 1000px" />
<p>35. Для добавления изображения необходимо нажать на кнопку "Choose file"</p>
<img src="public/how-create-exhibit-28.png" style="width: 1000px" />
<p>36. Для добавления персонажа гида необходимо нажать на кнопку "Добавить персонажей гида"</p>
<img src="public/how-create-exhibit-29.png" style="width: 1000px" />
<p>37. Для выбора персонажа гида необходимо нажать на поле с выбором, которое находится под текстом "Выберите персонажей гида"</p>
<img src="public/how-create-exhibit-30.png" style="width: 1000px" />
<p>38. После нажатия необходимо выбрать персонажа гида, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-exhibit-31.png" style="width: 1000px" />
<p>39. Если необходимо добавить несколько персонажей гида изображений повторить пункты 38-41.</p>
<p>40. Для добавления задания необходимо нажать на кнопку "Добавить задания"</p>
<img src="public/how-create-exhibit-32.png" style="width: 1000px" />
<p>41. Для выбора задания необходимо нажать на поле с выбором, которое находится под текстом "Выберите задания"</p>
<img src="public/how-create-exhibit-33.png" style="width: 1000px" />
<p>42. После нажатия необходимо выбрать задание, после чего нажать на кнопку добавить, находящуюся правее поля с выбором.</p>
<img src="public/how-create-exhibit-34.png" style="width: 1000px" />
<p>43. Если необходимо добавить несколько заданий повторить пункты 40-43.</p>
<p>44. В случае, если нужно добавить задание, которого нет в предложенном списке, при выборе озвучки необходимо выбрать пункт "Добавить новый элемент", после чего нажать кнопку "Добавить", находящуюся правее поля с выбором.</p>
<p>45. Для заполнения созданного элемента необходимо нажать на блок со стрелкой. Развернется форма.</p>
<p>46. Смотреть руководство как создать задания для интерактивной экскурсии</p>
<p>47. Для сохранения экспоната необходимо нажать кнопку "Создать экспонаты" в нижней части экрана</p>
<img src="public/how-create-exhibit-35.png" style="width: 1000px" />
