@page "/page/help/howcreate/faq"

<h1>Как создать ответы на часто задаваемые вопросы</h1>
<p>1. В меню навигации выбрать пункт "Ответы на часто задаваемые вопросы"</p>
<img src="public/how-create-faq-1.png" style="width: 1000px" />
<p>2. В открывшемся окне нажать на кнопку "Добавить"</p>
<img src="public/how-create-faq-2.png" style="width: 1000px" />
<p>3. Для заполнения заголовка вопроса необходимо нажать на поле ввода под словами "Введите заголовок вопроса"</p>
<img src="public/how-create-faq-3.png" style="width: 1000px" />
<p>4. Данное поле предполагает возможность локализации.</p>
<p>Смотреть руководство по локализации</p>
<img src="public/how-create-faq-4.png" style="width: 1000px" />
<p>5. Для добавления изображения к вопросу необходимо нажать на кнопку "Choose file"</p>
<img src="public/how-create-faq-5.png" style="width: 1000px" />
<p>6. В открывшемся окне необходимо найти требуемое изображение на компьютере и выбрать его</p>
<img src="public/how-create-faq-6.png" style="width: 1000px" />
<p>7. Для заполнения ответа на вопрос необходимо нажать на поле ввода под словами "Введите ответ на вопрос"</p>
<img src="public/how-create-faq-7.png" style="width: 1000px" />
<p>8. Данное поле также предполагает локализацию.</p>
<p>Смотреть руководство по локализации</p>
<img src="public/how-create-faq-8.png" style="width: 1000px" />
<p>9. Для сохранения экскурсии необходимо нажать кнопку "Создать ответы на часто задаваемые вопросы" в нижней части экрана</p>
<img src="public/how-create-faq-9.png" style="width: 1000px" />
