﻿@page "/page/help/howcreate/hall"

<h1>Как создать зал</h1>
<p>1. В меню навигации выберете "Залы"</p>
<img src="public/создание_зала_1.jpeg" style="width: 1000px" />
<p>2. В открывшемся окне нажмите на кнопку "Добавить"</p>
<img src="public/создание_зала_2.jpeg" style="width: 1000px" />
<p>
    3. Для заполнения названия зала необходимо нажать на поле ввода под словами "Введите название зала". 
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/создание_зала_3.jpeg" style="width: 1000px" />
<p>
    4. Для заполнения описания зала необходимо нажать на поле ввода под словами "Введите описание зала". 
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/создание_зала_4.jpeg" style="width: 1000px" />
<p>5. Для добавления экспонатов, нажмите на кнопку "добавить экспонаты"</p>
<img src="public/создание_зала_5.jpeg" style="width: 1000px" />
<p>5.1 Появится форма для выбора экспоната, нажмите на выпадающий список и выберите из него один экспанат</p>
<img src="public/создание_зала_5_1.jpeg" style="width: 1000px" />
<p>5.2 Нажмите кнопку "добавить" справа от выпадающего списка, после чего экспонат будет добавлен</p>
<img src="public/создание_зала_5_2.jpeg" style="width: 1000px" />
<p>5.3 Если вам нужно добавить больше экспонатов, повторите пункты 5 - 5.2</p>
<p>6. Если вам нужно удалить экспонат нажмите на иконку корзины, рядом с нужным экспонатом</p>
<img src="public/создание_зала_6.jpeg" style="width: 1000px" />
<p>7. Для сохранения зала необходимо нажать кнопку "создать залы" в нижней части экрана</p>
<img src="public/создание_зала_7.jpeg" style="width: 1000px" />