@page "/page/help/howcreate/localization"

<h1>Как добавить локализацию</h1>
<p>1. В меню выберете нужный тип сущности, допустим Экскурсии</p>
<img src="public/локализация_1.jpeg" style="width: 1000px" />
<p>2. В открывшемся окне нажмите на кнопку "Добавить"</p>
<img src="public/локализация_2.jpeg" style="width: 1000px" />
<p>3. Для добавления локализации нажмите на кнопку "развернуть локализацию"</p>
<img src="public/локализация_3.jpeg" style="width: 1000px" />
<p>4. Перед вами форма для добавления новой локализации, сначала выберите язык локализации</p>
<img src="public/локализация_4.jpeg" style="width: 1000px" />
<p>5. Затем введите локализованное значение</p>
<img src="public/локализация_5.jpeg" style="width: 1000px" />
<p>6. Нажмите кнопку "добавить локализацию"</p>
<img src="public/локализация_6.jpeg" style="width: 1000px" />
<p>7. Отобразится добавленная вами строчка, которую вы можете снова отредактировать нажав на кнопку "изменить локализацию" и проведя схожие действия</p>
<img src="public/локализация_7.jpeg" style="width: 1000px" />
<p>8. После добавления локализации вы можете добавить еще несколько локализаций, выполнив данные пункты 4-6 повторно</p>
<p>9. Для сохранения экскурсии необходимо нажать кнопку "создать экскурсии" в нижней части экрана</p>
<img src="public/локализация_9.jpeg" style="width: 1000px" />