﻿@page "/page/help/howcreate/quiz"

<h1>Как создать викторины</h1>
<p>1. В меню навигации выберете "Вопросы для викторины"</p>
<img src="public/викторина_1.jpeg" style="width: 1000px" />
<p>2. В открывшемся окне нажмите на кнопку "Добавить"</p>
<img src="public/викторина_2.jpeg" style="width: 1000px" />
<p>3. Для заполнения названия викторины необходимо нажать на поле ввода под словами "Введите название викторины"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/викторина_3.jpeg" style="width: 1000px" />
<p>4. Для заполнения заголовка вопроса необходимо нажать на поле ввода под словами "Введите заголовок вопроса"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/викторина_4.jpeg" style="width: 1000px" />
<p>5. Для заполнения правильного ответа необходимо нажать на поле ввода под словами "Введите правильный ответ"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/викторина_5.jpeg" style="width: 1000px" />
<p>6. Для заполнения текста вопроса необходимо нажать на поле ввода под словами "Введите текст вопроса"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/викторина_6.jpeg" style="width: 1000px" />
<p>7. Для добавления неправильного ответа, нажмите на кнопку "добавить неправильный ответ"</p>
<img src="public/викторина_7.jpeg" style="width: 1000px" />
<p>8. Введите значение неправильного ответа в форму</p>
<img src="public/викторина_8.jpeg" style="width: 1000px" />
<p>9. Если вам нужно удалить неправильный ответ нажмите на иконку корзины, рядом с нужным неправильным ответом</p>
<img src="public/викторина_9.jpeg" style="width: 1000px" />
<p>10. Для добавления типа вопроса, нажмите на выпадающий список под словами "Выберите тип вопроса", и выберите нужный тип</p>
<img src="public/викторина_10.jpeg" style="width: 1000px" />
<p>11. После выбора типа вопроса нажмите кнопку "добавить"</p>
<img src="public/викторина_11.jpeg" style="width: 1000px" />
<p>12. Если вам нужно удалить тип вопроса нажмите на иконку корзины</p>
<img src="public/викторина_12.jpeg" style="width: 1000px" />
<p>13. Для сохранения викторины необходимо нажать кнопку "создать вопросы для викторины" в нижней части экрана</p>
<img src="public/викторина_13.jpeg" style="width: 1000px" />