﻿@page "/page/help/howcreate/tasks"

<h1>Как создать задания для интерактивной экскурсии</h1>
<p>1. В меню навигации выберете "задания для интерактивной экскурсии"</p>
<img src="public/задания_1.jpeg" style="width: 1000px" />
<p>2. В открывшемся окне нажмите на кнопку "Добавить"</p>
<img src="public/задания_2.jpeg" style="width: 1000px" />
<p>3. Для заполнения заголовка задания необходимо нажать на поле ввода под словами "Введите заголовок задания"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/задания_3.jpeg" style="width: 1000px" />
<p>4. Для заполнения описания необходимо нажать на поле ввода под словами "Введите описание"</p>
<img src="public/задания_4.jpeg" style="width: 1000px" />
<p>5. Для добавления типа задания, нажмите на выпадающий список под словами "Выберите тип задания", и выберите нужный тип</p>
<img src="public/задания_5.jpeg" style="width: 1000px" />
<p>6. После выбора типа задания нажмите кнопку "добавить"</p>
<img src="public/задания_6.jpeg" style="width: 1000px" />
<p>7. Если вам нужно удалить тип задания нажмите на иконку корзины</p>
<img src="public/задания_7.jpeg" style="width: 1000px" />
<p>8. Для заполнения текста задания необходимо нажать на поле ввода под словами "Введите текст задания"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/задания_8.jpeg" style="width: 1000px" />
<p>9. Для заполнения правильного варианта ответа необходимо нажать на поле ввода под словами "Введите правильный вариант ответа"
    Данное поле предполагает возможность локализации. Смотреть руководство по локализации
</p>
<img src="public/задания_9.jpeg" style="width: 1000px" />
<p>10. Для добавления неправильного ответа, нажмите на кнопку "добавить неправильный ответ"</p>
<img src="public/задания_10.jpeg" style="width: 1000px" />
<p>11. Введите значение неправильного ответа в форму</p>
<img src="public/задания_11.jpeg" style="width: 1000px" />
<p>12. Если вам нужно удалить неправильный ответ нажмите на иконку корзины, рядом с нужным неправильным ответом</p>
<img src="public/задания_12.jpeg" style="width: 1000px" />
<p>13. Для сохранения задания для интерактивной экскурсии необходимо нажать кнопку "создать задания для интерактивной экскурсии" в нижней части экрана</p>
<img src="public/задания_13.jpeg" style="width: 1000px" />
