﻿@using Cms.Services
@inject SiteService SiteService
@using Microsoft.AspNetCore.Identity
@using Cms.Data

<AuthorizeView>
    <Authorized>
        <div class="box">
            <div class="type-instance-header-wrapper">
                <div class="type-instance-header-left">
                    <h3>@Header</h3>
                    <p>@Subheader</p>
                </div>
            </div>
            <div class="fio">
                <div>
                    @Museum
                </div>
                <div>
                    @MuseumBranch
                </div>
                <div>
                    <a href="Identity/Account/Manage" class="fio-name"> @Username</a>
                </div>
                <div>
                    <label class="fio-name" for="logoutbut">Выйти</label>
                </div>
                <form style="display:none" method="post" action="Identity/Account/Logout">
                    <button id="logoutbut" type="submit" class="nav-link btn btn-link">Выйти</button>
                </form>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="fio">
            <a href="Identity/Account/Register">Register</a>
            <a href="Identity/Account/Login">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public string Header { get; set; }
    [Parameter] public string Subheader { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [Inject]
    private UserManager<AppUser> userManager { get; set; }
    public string Username { get; set; } = "";
    public string Museum { get; set; } = "";
    public string MuseumBranch { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;
        var tempName = authenticationState.User.Identity.Name;
        if (tempName != null && tempName != "")
        {
            var user = userManager.Users.First(u => u.UserName == tempName);
            Username = user.FirstName + " " + user.LastName;
        }

        if (SiteService.SelectedSite != null)
        {
            Museum = SiteService.SelectedSite.Name;
            MuseumBranch = SiteService.SelectedSite.Description;
        }
        else
        {
            Museum = "";
            MuseumBranch = "";
        }
    }
}

<style>
    .box{
        display:flex;
        justify-content: space-between;
    }

    .fio {
        color: #000;
        text-align: right;
        font-size: 14px;
        font-family: Arial;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .fio-name {
        color: #1E66F5;
        cursor: pointer;
        text-decoration:none;
    }
</style>