﻿@using System.Collections.Generic

<div class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" role="button" @onclick:stopPropagation="true" @onclick="DropDown">
        @Title
    </a>
</div>
@if (isDropped)
{
    @foreach (var item in listItems)
    {
        <NavLink class="nav-link nav-link-child" ActiveClass="nav-link-active" href="@item[1]">
            @item[0]
        </NavLink>
    }
}

@code {
    [Parameter]
    public string Title { get; set; } = "Dropdown list";
    [Parameter]
    public List<string[]> listItems { get; set; }
    [Parameter]
    public bool isDropped { get; set; }

    private void DropDown()
    {
        isDropped = !isDropped;
    }
}
<style>
    .dropdown {
        user-select: none;
    }
    .nav-link-child {
        padding-left: 35px !important;
    }
</style>