﻿@page "/"
@using Cms.Data
@using Cms.Services
@inject ApplicationDbContext DbContext
@inject SiteService SiteService

<article>
    @foreach (var page in Pages)
    {
        <a class="main-page-link" href="page@(page.path)">
            <div class="main-page-item">
                @(page.name)
            </div>
        </a>
    }
</article>

@code
{
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    List<Page> Pages { get; set; } = new();

    protected override void OnInitialized()
    {
        Layout.SetPageTitle("Главная", "");
        base.OnInitialized();

        ApplicationDbContext.UserTypeChanged -= OnSiteChanged;
        ApplicationDbContext.UserTypeChanged += OnSiteChanged;

        OnSiteChanged(DbContext, EventArgs.Empty);
    }

    private async void OnSiteChanged(object sender, EventArgs e)
    {
        await InvokeAsync(() =>
        {
            Pages = SiteService.SelectedSite.Id != Guid.Empty ? SiteService.SelectedSite.Pages.Where((page) => page.path.StartsWith("/help")).ToList() : new List<Page>();
            StateHasChanged();
        });
    }
}
