.main-title {
    margin-bottom: 56px;
}

.main-subtitle {
    margin-bottom: 8px;
    font-weight: 700;
}

.main-page-item {
    border: 1px solid #949494;
    padding: 17px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
}

.main-page-link {
    text-decoration: none;
}
