@using System.Collections.Generic
@using Cms.Data;
@inherits UniversalInputField
@implements ISaveForm
@using System.Text.Json;
@using Cms.Services
@inject IHttpContextAccessor HttpContextAccessor
@inject SiteService SiteService

@{
    // here template from UniversalInputField
    base.BuildRenderTree(__builder);
}
@if (!UserType.BaseTypes.Contains(SchemeField.Type))
{
    <div class="list-item-input">
        @if (ShowLabel)
        {
            @if (!isNested)
            {
                <label class="form-label form-label-inline" for="@SchemeField.Slug">
                    <p>@(SchemeField.GetAddName())&nbsp</p>
                    <p class="lowercase">@SchemeField.Name</p>
                </label>
            }
            <div class="list-item-input-wrapper form-select-header">

                @if (CurrentUserTypesInstance == null)
                {
                    var list = dbContext.GetUserTypeInstances(Scheme);
                    if (!Scheme.ProhibitNestedForm)
                    {
                        var emptyUsertypeInstance = UserTypeInstance.GetDefaultCopy(Scheme);
                        emptyUsertypeInstance.Fields.First(f => f.Slug == "Name").Value = "Добавить новый элемент";
                        list.Add(emptyUsertypeInstance);
                    }
                    <AppSelect UserTypeInstances="list"
                               SearchLabel="@("Поиск по " + SchemeField.Name)"
                               OnValueChanged="@((val) =>
                        {
                            OnValueChanged?.Invoke(val);
                            if (val == null || val == "")
                            {
                                selectedUserTypeInstance = null;
                                IsExpanded = false;
                            }
                            else if ((string)val != Guid.Empty.ToString())
                            {
                                var id = new Guid(val.ToString());
                                selectedUserTypeInstance = dbContext.GetUserTypeInstance(Scheme, id);
                            }
                            else
                            {
                                selectedUserTypeInstance = UserTypeInstance.GetDefaultCopy(Scheme);
                            }
                            StateHasChanged();
                        })" 
                    />

                    <button
                        type="button"
                            class="list-item-input-button"
                            disabled="@(selectedUserTypeInstance == null)"
                    @onclick="@(() => {
                            OnItemAdd.Invoke();
                            CurrentUserTypesInstance = selectedUserTypeInstance;
                        })"
                    >
                        Добавить
                    </button>
                }
                else
                {
                    <div class="list-item-nested-wrapper" @onclick="Toggle">
                        @if (!Scheme.ProhibitNestedForm)
                        {
                            <div class="toggle-button @(IsExpanded ? "expanded" : "collapsed")">
                                <span class="toggle-icon">@LabelName</span>
                            </div>
                        }
                        @foreach (var field in CurrentUserTypesInstance.Fields.Where((field) => field.IsShownInList))
                        {
                            <div class="list-item-nested @(field.Slug == "Name" ? "name" : "")">
                                <div class="list-item-selected-inner">@field.Value</div>
                            </div>
                        }
                    </div>
                    <div class="list-item-input-delete" @onclick=@(() => {
                         CurrentUserTypesInstance = null;
                         IsExpanded = false;
                         OnValueChanged?.Invoke(null);
                         OnItemDelete.Invoke();
                    })>
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                        </svg>
                    </div>
                }
            </div>
        }
        @if (IsExpanded)
        {
            <div class="list-wrapper @(ShowLabel ? "form-wrapper" : "")">
                @for (int row = 0; row < Scheme.Fields.Count; row++)
                {
                    int crow = row;
                    @if (!Scheme.Fields[crow].IsArray)
                    {
                        <InputFormField @ref="childFormRefs[crow]"
                                        dbContext="dbContext"
                                        ShowLabel="true"
                                        SchemeField="Scheme.Fields[crow]"
                                        Value="CurrentUserTypesInstance.Fields[crow].Value"
                                        LocalizeDictionary="@CurrentUserTypesInstance.Fields[crow].LocalizeDictionary"
                                        LabelName="@SchemeField.Name"
                                        IsExpanded="false"
                                        OnValueChanged="(val) =>
                                            {
                                                CurrentUserTypesInstance.Fields[crow].Value=val;
                                            }"
                                        OnItemAdd="@(()=>{})"
                                        OnItemDelete="@(()=>{})"
                                        OnFileChanged="@((val)=>{})" />
                    }
                    else
                    {
                        <UniversalInputFieldList @ref="childFormRefs[crow]"
                                                 dbContext="dbContext"
                                                 SchemeField="Scheme.Fields[crow]"
                                                 currentUserTypesInstanceField="CurrentUserTypesInstance.Fields[crow]" />
                    }
                }
            </div>
        }
    </div>
}

@code {
    [Parameter] public bool IsExpanded { get; set; } = false;
    [Parameter] public bool IsRootForm { get; set; } = false;

    [Parameter] public bool isNested { get; set; } = false;
    [Parameter] public string LabelName { get; set; } = string.Empty;
    [Parameter] public ApplicationDbContext dbContext { get; set; }
    private List<ISaveForm> childFormRefs = new List<ISaveForm>();
    public UserTypeInstance? CurrentUserTypesInstance;
    private UserTypeInstance? selectedUserTypeInstance;
    private UserType Scheme;
    private bool isAdmin = false;
    private Site? selectedSite = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (UserType.BaseTypes.Contains(SchemeField.Type))
        {
            return;
        }
        isAdmin = HttpContextAccessor.HttpContext?.User.IsInRole("Administrator") ?? false;
        selectedSite = isAdmin ? null : SiteService.SelectedSite;
        if (selectedSite is not null)
        {
            selectedSite.UserTypeInstances = new List<UserTypeInstance>();
            var instances = dbContext.UserTypeInstances.Where((instance) => instance.Sites.FirstOrDefault((site) => site.Id == selectedSite.Id) != null).ToList();
            if (instances is not null)
            {
                selectedSite.UserTypeInstances = instances.Select((instance) =>
                {
                    var temp = new UserTypeInstance();
                    instance.CloneTo(temp);
                    return temp;
                }).ToList();
            }
        }

        Scheme = dbContext.FindUserTypeBySlug(SchemeField.Type);
        if (Value != null && Value != "")
        {
            var id = new Guid(Value.ToString());
            if (id == Guid.Empty)
                CurrentUserTypesInstance = UserTypeInstance.GetDefaultCopy(Scheme);
            else
                CurrentUserTypesInstance = dbContext.GetUserTypeInstance(Scheme, id);
        }
        else
        {
            CurrentUserTypesInstance = null;
        }
        childFormRefs = Enumerable.Repeat<ISaveForm>(null, Scheme.Fields.Count).ToList();
        if (Scheme.ProhibitNestedForm && !IsRootForm)
        {
            IsExpanded = false;
        }
        StateHasChanged();
    }

    private void Toggle()
    {
        if (CurrentUserTypesInstance != null && !Scheme.ProhibitNestedForm)
            IsExpanded = !IsExpanded;
    }

    public void SaveForm()
    {
        base.SaveForm();
        foreach (var form in childFormRefs)
        {
            if (form == null) continue;
            form.SaveForm();
        }
        if (UserType.BaseTypes.Contains(SchemeField.Type)
        || CurrentUserTypesInstance == null)
        {
            return;
        }
        if (CurrentUserTypesInstance.Id == Guid.Empty)
        {
            AddUserType();
        }
        else
        {
            EditUserType();
        }
    }

    private void AddUserType()
    {
        if (!ValidateReqiuredFields()) return;
        RemoveEmptyFields(CurrentUserTypesInstance);
        var res = dbContext.CreateUserTypeInstance(Scheme, CurrentUserTypesInstance, selectedSite);
        
        var parseRes = res.TryGetValue("Id", out var dictId);
        if (!parseRes || dictId is null) throw new Exception("The instance was not created");
        parseRes = Guid.TryParse(dictId.ToString(), out var Id);
        if (!parseRes) throw new Exception("The instance was not created");
        CurrentUserTypesInstance.Id = Id;
        if (selectedSite is not null)
        {
            var instanceToAdd = selectedSite.UserTypeInstances.FirstOrDefault((instance) => instance.Id == CurrentUserTypesInstance.Id);
            if (instanceToAdd is not null)
            {
                selectedSite.UserTypeInstances.Add(instanceToAdd);
            }
        }
        OnValueChanged?.Invoke(Id.ToString());
    }

    private void EditUserType()
    {
        if (!ValidateReqiuredFields()) return;
        RemoveEmptyFields(CurrentUserTypesInstance);
        dbContext.UpdateUserTypeInstance(Scheme, CurrentUserTypesInstance);
    }

    private bool ValidateReqiuredFields()
    {
        foreach (var field in CurrentUserTypesInstance.Fields)
        {
            if (!field.IsNullable && ((field.Value is string && string.IsNullOrEmpty((string)field.Value)) ||
            (field.Value is null && field.Value == null)))
            {
                throw new Exception("The '" + field.Name + "' field cannot be empty");
            }
        }
        if (IsRecursion(Scheme, CurrentUserTypesInstance, CurrentUserTypesInstance))
        {
            throw new Exception("The value of the field creates a recursion");
        }
        return true;
    }

    private bool IsRecursion(UserType Scheme, UserTypeInstance inst, UserTypeInstance comparedInst)
    {
        string Id = inst.Id.ToString();
        foreach (var field in comparedInst.Fields)
        {
            if (UserType.BaseTypes.Contains(field.Type) || field.Value == null) continue;
            if (field.Type == Scheme.Slug && field.Value.ToString().Contains(Id))
            {
                throw new Exception($"The field '{field.Name}' of Instance '{comparedInst.Name}' of table {Scheme.Name} creates a recursion");
            }
            UserType comparedScheme = dbContext.FindUserTypeBySlug(field.Type);
            if (!field.IsArray)
            {
                var other = dbContext.GetUserTypeInstance(comparedScheme, new Guid(field.Value.ToString()));
                IsRecursion(Scheme, inst, other);
            }
            else
            {
                var list = JsonSerializer.Deserialize<List<string>>(field.Value.ToString());
                list.ForEach(id =>
                {
                    if (id != string.Empty)
                    {
                        var other = dbContext.GetUserTypeInstance(comparedScheme, new Guid(id));
                        IsRecursion(Scheme, inst, other);
                    }
                });
            }
        }
        return false;
    }

    private static void RemoveEmptyFields(UserTypeInstance instance)
    {
        instance.Fields.ForEach((field) =>
        {
            if (field.IsArray && field.Value is not null)
            {
                var list = JsonSerializer.Deserialize<List<string>>(field.Value.ToString());
                field.Value = JsonSerializer.Serialize(list.Where(id => id != string.Empty).ToList());
            }
        });
    }

    public static Field CreateEmulatedField(UserType Scheme, Guid? instanceId)
    {
        var emulatedField = new Field();
        emulatedField.Type = Scheme.Slug;
        emulatedField.Value = instanceId;
        return emulatedField;
    }

    public void DeleteUserType()
    {
        if (selectedSite is not null)
        {
            dbContext.RemoveUserTypeInstance(Scheme, CurrentUserTypesInstance.Id, selectedSite);
            var instanceToRemove = selectedSite.UserTypeInstances.FirstOrDefault((instance) => instance.Id == CurrentUserTypesInstance.Id);
            if (instanceToRemove is not null)
            {
                selectedSite.UserTypeInstances.Remove(instanceToRemove);
            }
        }
        else
        {
            dbContext.RemoveUserTypeInstance(Scheme, CurrentUserTypesInstance);
        }
    }
}
