﻿.list-item-localize-wrapper {
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 66px auto;
    column-gap: 10px;
    row-gap: 10px;
}

.list-item-localize-value {
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.list-localize-wrapper-outer {
    position: relative;
}

.list-localize-wrapper-inner {
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 9px 0;
    border: 1px solid #949494;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

    .list-localize-wrapper-inner.collapsed {
        display: none;
    }

.list-localize-option {
    height: 22px;
    font-size: 14px;
    text-align: center;
}

    .list-localize-option:hover {
        background-color: #D2E0FD;
    }

.list-item-localize-button {
    width: 216px;
    height: 20px;
    padding: 0px, 16px, 0px, 16px;
    border: 0;
    border-radius: 7px;
    font-size: 12px;
    background-color: #D2E0FD;
    text-transform: uppercase;
}

    .list-item-localize-button[disabled] {
        background-color: #0000001F;
        color: #00000042;
    }

.list-item-input {
    width: auto;
    margin: 10px 0;
    flex-grow: 1;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.list-item-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.list-item-input-wrapper {
    padding: 10px 12px;
    border: 1px solid #949494;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    background-color: white;
}

    .list-item-input-wrapper:hover {
        background-color: #D2E0FD;
    }

        .list-item-input-wrapper:hover .list-item-input-delete {
            display: inline;
        }

.list-item-nested-wrapper {
    cursor: pointer;
    height: 100%;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.list-item-nested {
    height: 100%;
    padding: 10px;
    display: table-cell;
}

    .list-item-nested.name {
        font-weight: 700;
    }

.list-item-nested-inner {
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.list-item-input-button {
    padding: 3px 16px;
    background-color: #1E66F5;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
}

.list-item-input-button[disabled] {
    background-color: #0000001F;
    color: #00000042;
}

.list-item-text-delete {
    width: fit-content;
    margin-bottom: -24px;
    display: none;
    position: relative;
    justify-content: end;
    top: -34px;
    left: calc(100% - 30px);
}

.list-item-input:hover .list-item-text-delete {
    display: block;
}

    .list-item-input:hover .list-item-text-delete svg {
        cursor: pointer;
    }

.list-item-integer {
    padding-right: 40px;
}

.list-item-input:not(:hover) .list-item-integer {
    -moz-appearance: textfield;
}

    .list-item-input:not(:hover) .list-item-integer::-webkit-outer-spin-button,
    .list-item-input:not(:hover) .list-item-integer::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

.list-item-file {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: calc(100% - 40px);
}



.toggle-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-icon::before {
    content: " ";
    margin-right: 10px;
}

.expanded .toggle-icon::before {
    content: "▼";
}

.collapsed .toggle-icon::before {
    content: "▶";
}

.selected {
    background-color: lightskyblue;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                                                                                                                                                                                                                          supported by Chrome, Edge, Opera and Firefox */
}

.list-item-input-delete {
    margin: auto;
    padding: 0 10px;
    cursor:pointer;
}

.form-wrapper {
    padding: 26px 15px 15px 15px;
    margin-top: -16px;
    border: 1px solid #949494;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.list-item-selected-inner {
    height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.lowercase {
    text-transform: lowercase;
}

.form-label-inline {
    display: inline-flex;
    flex-direction: row;
}

.form-label-inline p {
    margin-bottom: 0;
}
