﻿@using Cms.Data;
@using System.Text.Json;
@page "/json-editor"
@attribute [Authorize(Roles = "Moderator,Administrator")]
@inject ApplicationDbContext dbContext

<article @onclick="ClearSelection">
    <div class="row">
        @if (pages.Count > 0)
        {
            <div class="col-6 py-2">
                <h4>
                    Page
                </h4>
                <div class="col-auto">
                    <select class="form-select" @onchange="HandlePageSelectionChange">
                        @foreach (var pagef in pages)
                        {
                            <option value="@pagef.id">@pagef.name</option>
                        }
                    </select>
                </div>
                <h4>
                    Block Tree
                </h4>
                <TreeView TItem="Block" Nodes="RootNodes" OnNodeClicked="HandleNodeClicked" />
            </div>
            <EditForm Model="@selectedBlock" class="col-6 border p-2" @onclick:stopPropagation="true" OnValidSubmit="@(selectedBlock.id != null?UpdateBlock:AddBlock)">
                <DataAnnotationsValidator />
                <h4>@(selectedBlock.id != null ? "Edit Block #" + selectedBlock.id : "Create Block")</h4>
                <div class="d-flex flex-column">
                    <label>Tag Name:</label>
                    <select class="form-select" @bind="selectedBlock.tagName">
                        <option value="">None</option>
                        <option value="p">p</option>
                        <option value="h1">h1</option>
                        <option value="h2">h2</option>
                        <option value="h3">h3</option>
                        <option value="img">img</option>
                    </select>
                    <label>Text:</label>
                    <InputText class="form-control" @bind-Value="selectedBlock.text" />
                    <label>Attributes:</label>
                    @if (selectedBlock.attributes != null && selectedBlock.attributes != "")
                    {
                        var ArrayData = JsonSerializer.Deserialize<string[][]>(selectedBlock.attributes);
                        for (int row = 0; row < ArrayData.Length; row++)
                        {
                            <div class="row">
                                @for (int col = 0; col < ArrayData[row].Length; col++)
                                {
                                    int cr = row; // Локальная переменная row
                                    int cc = col; // Локальная переменная col
                                    <div class="col">
                                        <input class="form-control" type="text" value="@ArrayData[row][col]" @onchange="EventCallback.Factory.CreateBinder<string>(this, value => {
                                            ArrayData[cr][cc] = value;
                                            selectedBlock.attributes = JsonSerializer.Serialize(ArrayData);
                                        }, ArrayData[cr][cc])" />
                                    </div>
                                }
                            </div>
                        }
                    }
                    <div class="mt-2">
                        <input type="button" class="btn btn-outline-secondary" value="Add attribute" @onclick="HandleAttrAdd" />
                        <input type="button" class="btn btn-outline-secondary" value="Remove last attribute" @onclick="HandleAttrDel" />
                    </div>
                    <label>Parent Block:</label>
                    <select class="form-select" @bind="selectedBlock.parent">
                        <option value="">None</option>
                        @foreach (var block in blocks)
                        {
                            if (block.id != selectedBlock.id)
                            {
                                <option value="@block.id">@block.tagName#@block.id</option>
                            }
                        }
                    </select>
                    <label>Postion before</label>
                    <select class="form-select" @bind="selectedBlock.nextBlockId">
                        <option value="">Last</option>
                        @foreach (var block in blocks)
                        {
                            if (block.parent == selectedBlock.parent && block.id != selectedBlock.id)
                            {
                                <option value="@block.id">@block.tagName#@block.id</option>
                            }
                        }
                    </select>
                </div>
                @if (selectedBlock.id != null)
                {
                    <button class="btn btn-primary mt-2">Update</button>
                    <button class="btn btn-danger mt-2" type="button" @onclick="DeleteBlock">Delete Block</button>
                }
                else
                {
                    <button class="btn btn-primary mt-2">Add Block</button>
                }
                <ValidationSummary />
            </EditForm>
        }
        else
        {
            <h4>
                There are no pages. Go to <NavLink class="nav-link" href="/page-editor"> Page Editor</NavLink> to add one
            </h4>
        }
    </div>
    @if (message.Length > 0 && isError)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
    else if (message.Length > 0 && !isError)
    {
        <div class="alert alert-success mt-2">
            @message
        </div>
    }
</article>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    private List<Block> blocks;
    private Block selectedBlock;
    private Page selectedPage;
    private List<Page> pages;
    private bool isError = false;
    private string message = "";

    private List<TreeNode<Block>> RootNodes { get; set; }
    private Dictionary<int, Block> id_to_block;
    private Dictionary<int, Block> id_to_prevBlock;
    private Dictionary<int, List<Block>> id_to_childs;

    TreeNode<Block>? lastSelected;

    protected override void OnInitialized()
    {
        Layout.SetPageTitle("JSON Editor", "");
        pages = dbContext.Pages.ToList();
        if (pages.Count < 1)
        {
            blocks = new List<Block>();
            return;
        }
        selectedPage = pages.First();
        UpdateTreeView();
    }
    void UpdateTreeView()
    {
        selectedBlock = new Block();

        blocks = dbContext.Blocks.Where(b => b.pageId == selectedPage.id).ToList();

        id_to_block = new Dictionary<int, Block>();
        id_to_prevBlock = new Dictionary<int, Block>();
        id_to_childs = new Dictionary<int, List<Block>>();
        foreach (var block in blocks)
        {
            id_to_block.Add((int)block.id, block);
            if (block.nextBlockId != null)
                id_to_prevBlock.Add((int)block.nextBlockId, block);
            id_to_childs.Add((int)block.id, new List<Block>());
        }
        foreach (var block in blocks)
        {
            if (block.parent != null)
                id_to_childs[(int)block.parent].Add(block);
        }

        RootNodes = new List<TreeNode<Block>>();
        Block? firstBlock = blocks.FirstOrDefault(b => b.parent == null);
        if (firstBlock == null)
            return;
        while (id_to_prevBlock.ContainsKey((int)firstBlock.id))
        {
            firstBlock = id_to_prevBlock[(int)firstBlock.id];
        }
        while (true)
        {
            RootNodes.Add(new TreeNode<Block>
                {
                    Name = firstBlock.tagName + "#" + firstBlock.id,
                    Children = GetChilds((int)firstBlock.id),
                    Object = firstBlock,
                    IsExpanded = true
                });
            if (firstBlock.nextBlockId == null)
            {
                break;
            }
            firstBlock = id_to_block[(int)firstBlock.nextBlockId];
        }
    }

    private List<TreeNode<Block>> GetChilds(int parentId)
    {
        List<TreeNode<Block>> childs = new List<TreeNode<Block>>();
        Block? firstBlock = id_to_childs[parentId].FirstOrDefault();
        if (firstBlock == null)
            return childs;
        while (id_to_prevBlock.ContainsKey((int)firstBlock.id))
        {
            firstBlock = id_to_prevBlock[(int)firstBlock.id];
        }
        while (true)
        {
            childs.Add(new TreeNode<Block>
                {
                    Name = firstBlock.tagName + "#" + firstBlock.id,
                    Children = GetChilds((int)firstBlock.id),
                    Object = firstBlock,
                    IsExpanded = true
                });
            if (firstBlock.nextBlockId == null)
            {
                break;
            }
            firstBlock = id_to_block[(int)firstBlock.nextBlockId];
        }
        return childs;
    }

    private async Task UpdateBlock()
    {
        try
        {
            Block? currentBlock = blocks.FirstOrDefault(b => b.id == (int)selectedBlock.id);
            Block? oldPreviosBlock = blocks.FirstOrDefault(b => b.nextBlockId == (int)currentBlock.id && b.parent == currentBlock.parent);

            if (oldPreviosBlock != null)
            {
                oldPreviosBlock.nextBlockId = currentBlock.nextBlockId;
                dbContext.Blocks.Update(oldPreviosBlock);
            }

            Block? newPreviosBlock = blocks.FirstOrDefault(b => b.nextBlockId == selectedBlock.nextBlockId && b.parent == selectedBlock.parent && b.id != selectedBlock.id);
            if (newPreviosBlock != null)
            {
                newPreviosBlock.nextBlockId = (int)selectedBlock.id;
                dbContext.Blocks.Update(newPreviosBlock);
            }
            selectedBlock.CloneTo(currentBlock);

            dbContext.Blocks.Update(currentBlock);
            dbContext.SaveChanges();
            UpdateTreeView();
            await ShowMessage("Saved successfully!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private async Task AddBlock()
    {
        try
        {
            selectedBlock.pageId = selectedPage.id;
            dbContext.Blocks.Add(selectedBlock);
            dbContext.SaveChanges();
            Block? oldPreviosBlock = blocks.FirstOrDefault(b => b.nextBlockId == selectedBlock.nextBlockId &&
                b.id != selectedBlock.id && b.parent == selectedBlock.parent);
            if (oldPreviosBlock != null)
            {
                oldPreviosBlock.nextBlockId = selectedBlock.id;
                dbContext.SaveChanges();
            }
            UpdateTreeView();
            await ShowMessage("Block added!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private async Task DeleteBlock()
    {
        try
        {
            Block? currentBlock = blocks.FirstOrDefault(b => b.id == (int)selectedBlock.id);
            Block? oldPreviosBlock = blocks.FirstOrDefault(b => b.nextBlockId == currentBlock.id && b.parent == currentBlock.parent);
            if (oldPreviosBlock != null)
            {
                oldPreviosBlock.nextBlockId = currentBlock.nextBlockId;
                dbContext.Blocks.Update(oldPreviosBlock);
            }

            List<Block> blocksToRemove = new List<Block> { currentBlock };
            addChildsById(blocksToRemove, (int)currentBlock.id);
            dbContext.Blocks.RemoveRange(blocksToRemove);
            dbContext.SaveChanges();

            UpdateTreeView();
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }
    void addChildsById(List<Block> blocksToRemove, int id)
    {
        blocksToRemove.AddRange(id_to_childs[id]);
        id_to_childs[id].ForEach(block => addChildsById(blocksToRemove, (int)block.id));
    }

    private void HandleNodeClicked(TreeNode<Block> node)
    {
        if (lastSelected != null)
        {
            lastSelected.isSelected = false;
        }
        selectedBlock = new Block(node.Object);//
        lastSelected = node;
        lastSelected.isSelected = true;
        StateHasChanged();
    }
    private void ClearSelection()
    {
        if (lastSelected != null && lastSelected.isSelected)
        {
            lastSelected.isSelected = false;
            selectedBlock = new Block();
        }
    }
    public async Task ShowMessage(string message, bool isError)
    {
        this.isError = isError;
        this.message = message;
        await Task.Delay(isError ? 8000 : 3000);
        this.isError = false;
        this.message = "";
        StateHasChanged();
    }

    private void HandlePageSelectionChange(ChangeEventArgs e)
    {
        selectedPage = pages.FirstOrDefault(page => (int)page.id == int.Parse((string)e.Value));
        UpdateTreeView();
    }
    private async Task HandleAttrAdd()
    {
        if (selectedBlock.attributes != null && selectedBlock.attributes != "")
        {
            var ArrayData = JsonSerializer.Deserialize<string[][]>(selectedBlock.attributes);
            Array.Resize(ref ArrayData, ArrayData.Length + 1);
            ArrayData[ArrayData.Length - 1] = new string[ArrayData[0].Length];
            selectedBlock.attributes = JsonSerializer.Serialize(ArrayData);
        }
        else
        {
            selectedBlock.attributes = JsonSerializer.Serialize(new string[][] { new string[] { "", "" } });
        }
    }
    private async Task HandleAttrDel()
    {
        if (selectedBlock.attributes != null && selectedBlock.attributes != "")
        {
            var ArrayData = JsonSerializer.Deserialize<string[][]>(selectedBlock.attributes);
            if (ArrayData.Length == 0) return;
            Array.Resize(ref ArrayData, ArrayData.Length - 1);
            selectedBlock.attributes = JsonSerializer.Serialize(ArrayData);
        }
    }
}
