﻿@using System.Collections.Generic
@using Cms.Data
@implements ISaveForm

<div class="wrapper">
    <MatSelect Disabled="@(!IsEdit && LocalizeDictionary.ContainsKey(LocalizeSelectValue) & LocalizeSelectValue != "")" @bind-Value="@LocalizeSelectValue">
        @foreach (var el in List)
        {
            <MatOptionString Disabled="LocalizeDictionary.ContainsKey(el)" Value="@el">
                @el
            </MatOptionString>
        }
    </MatSelect>
    @if (Type == UserType.BaseTypes[0])
    {
        <input class="form-control"
               value="@LocalizeInputValue"
        @oninput="@((args) => LocalizeInputValue = args.Value?.ToString() ?? string.Empty)"
               disabled="@(!IsEdit && LocalizeDictionary.ContainsKey(LocalizeSelectValue) & LocalizeSelectValue != "")" />
    }
    else
    {
        <div class="col">
            <input class="form-control" type="text" value="@LocalizeInputValue" disabled>
        </div>
        <div class="col-auto">
            <label class="btn btn-outline-secondary @((!IsEdit && LocalizeDictionary.ContainsKey(LocalizeSelectValue) & LocalizeSelectValue != "")?"disabled":"")">
                Choose file
                <InputFile style="display: none;" OnChange="@(async (InputFileChangeEventArgs e)=>
                    {
                        if(e.File != null)
                        {
                            var cancelToken = new CancellationToken();
                            using (MemoryStream memoryStream = new MemoryStream())
                            {
                                using (Stream stream = e.File.OpenReadStream(2097152, cancelToken))
                                {
                                    await stream.CopyToAsync(memoryStream);
                                }
                                 currentFileBytes = memoryStream.ToArray();
                            }
                            LocalizeInputValue =Guid.NewGuid().ToString()+ Path.GetExtension(e.File.Name);
                        }
                    })" />
            </label>
        </div>
    }
    @if (!(LocalizeDictionary.ContainsKey(LocalizeSelectValue) & LocalizeSelectValue != ""))
    {
        <button class="localize-button"
        @onclick="@(async () => {
                var select = LocalizeSelectValue;
                var input = LocalizeInputValue;
                LocalizeSelectValue = LocalizeInputValue = string.Empty;
                await HandleAddLocalize.InvokeAsync(new KeyValuePair<string, object>(select, input));
                await OnFileChanged.InvokeAsync((select,currentFileBytes));
            })"
                disabled="@(LocalizeInputValue == string.Empty || LocalizeSelectValue == string.Empty || (LocalizeDictionary.ContainsKey(LocalizeSelectValue) & LocalizeSelectValue != ""))">
            Добавить локализацию
        </button>
    }
    else
    {
        <button class="localize-button"
        @onclick="@(async () => {
                if (IsEdit)
                {
                    await HandleEditLocalize.InvokeAsync(new KeyValuePair<string, object>(LocalizeSelectValue, LocalizeInputValue));
                }
                IsEdit = !IsEdit;
            })">
            @(IsEdit ? "Сохранить локализацию" : "Изменить локализацию")
        </button>
    }
</div>

@code {
    [Parameter] public EventCallback<KeyValuePair<string, object>> HandleAddLocalize { get; set; }
    [Parameter] public EventCallback<KeyValuePair<string, object>> HandleEditLocalize { get; set; }
    [Parameter] public Dictionary<string, object> LocalizeDictionary { get; set; }
    [Parameter] public string LocalizeSelectValue { get; set; }
    [Parameter] public string LocalizeInputValue { get; set; }
    [Parameter] public string Type { get; set; }
    [Parameter] public byte[] currentFileBytes { get; set; }
    [Parameter] public EventCallback<(string,byte[])> OnFileChanged { get; set; }


    public string oldValue;

    protected override void OnInitialized()
    {
        oldValue = LocalizeInputValue;
    }

    private bool IsEdit = false;
    public static readonly List<string> List = new() { "En", "Fr", "De", "Zh" };

    public void SaveForm()
    {
        if (Type == UserType.BaseTypes[3] && LocalizeInputValue != null && currentFileBytes != null && !IsEdit)
            Cms.Services.UploadFileService.SaveFile(currentFileBytes, LocalizeInputValue, oldValue);
    }
}

<style>
    .wrapper {
        display: flex;
        gap: 8px;
    }

    .localize-button {
        width: 216px;
        height: 20px;
        padding: 0, 16px, 0, 16px;
        border: 0;
        border-radius: 7px;
        font-size: 12px;
        background-color: #D2E0FD;
        text-transform: uppercase;
    }

        .localize-button[disabled] {
            background-color: #0000001F;
            color: #00000042;
        }
</style>