﻿<div class="modal fade @(IsVisible ? "show" : "")" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" aria-label="Close" @onclick="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Text</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Confirm">OK</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
@if (IsVisible)
{
    <div class="modal-backdrop fade show"></div>
}



@code {
    private bool IsVisible { get; set; }
    private string Title { get; set; }
    private string Text { get; set; }

    public void Show(string title,string text, Action onConfirm)
    {
        IsVisible = true;
        Title = title;
        Text = text;
        OnConfirm = onConfirm;
        StateHasChanged();
    }

    public void Cancel()
    {
        IsVisible = false;
    }

    public void Confirm()
    {
        IsVisible = false;
        OnConfirm?.Invoke();
    }

    public Action OnConfirm { get; set; }
}

<style>
    .modal-dialog {
        min-width: 500px;
    }

    .modal.show {
        display: flex;
        align-items: center;
    }

    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .modal-header .close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
    }

    button.close {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
    }

    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
</style>