@page "/page/{*pageName}"
@using System.ComponentModel
@using System.Text.Json
@using Cms.Data
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<article class="content px-4">
    @component.Render()
</article>

@code
{
    [Parameter]
    public string pageName { get; set; }

    Page? selectedPage;
    List<Block> blocks;

    BlocksComponent component = new();

    protected override void OnInitialized()
    {
        selectedPage = dbContext.Pages.FirstOrDefault((p) => p.path == $"/{pageName}");
        if (selectedPage is not null)
        {
            blocks = dbContext.Blocks.Where(b => b.pageId == selectedPage.id).ToList();
            if (blocks.Count > 0)
            {
                component.AttachBlocks(blocks);
            }
        }
    }

    Comparison<Block> BlockIdComparison = (Block aBlock, Block bBlock) => (aBlock.id ?? 0) - (bBlock.id ?? 0);

    private class BlocksComponent : ComponentBase
    {
        public BlocksComponent() : base()
        { }

        private List<Block> _blocks;

        public void AttachBlocks(List<Block> blocks)
        {
            _blocks = blocks;
        }

        public RenderFragment Render()
        {
            return (RenderTreeBuilder builder) =>
            {
                if (_blocks is not null)
                {
                    Block? current = GetFirstBlock(_blocks);
                    while (true)
                    {
                        if (current is null) break;
                        RenderBlock(builder, _blocks, current);
                        current = _blocks.FirstOrDefault((block) => block.id == current.nextBlockId);
                    }
                }
            };
        }

        private static void RenderBlock(RenderTreeBuilder builder, List<Block> blocks, Block block)
        {
            if (block.id is not null)
            {
                builder.OpenElement((int)block.id, block.tagName);
                AddAttributes(builder, block);
                builder.AddContent(0, block.text?.ToString() ?? "");
                var childBlocks = GetChildBlocks(blocks, (int)block.id);
                if (childBlocks.Count > 0)
                {
                    Block? current = GetFirstBlock(childBlocks);
                    while (true)
                    {
                        if (current is null) break;
                        RenderBlock(builder, blocks, current);
                        current = childBlocks.FirstOrDefault((block) => block.id == current.nextBlockId);
                    }
                }
                builder.CloseElement();
            }
        }

        private static void AddAttributes(RenderTreeBuilder builder, Block block)
        {
            string[][]? attributes = null;
            if (block.attributes is not null)
            {
                attributes = JsonSerializer.Deserialize<string[][]>(block.attributes);
            }
            if (attributes is not null)
            {
                for (var i = 0; i < attributes.Length; i++)
                {
                    builder.AddAttribute(i, attributes[i][0], attributes[i][1]);
                }
            }
        }
        private static Block GetFirstBlock(List<Block> blocks)
        {
            var copyBlocks = new List<Block>(blocks.Where((block) => block.parent is null).ToList());
            blocks.Where((block) => block.parent is null).ToList().ForEach((block) =>
            {
                if (block.nextBlockId is not null)
                {
                    var notFirst = copyBlocks.FirstOrDefault((notFirst) => notFirst.id == block.nextBlockId);
                    if (notFirst is not null)
                    {
                        copyBlocks.Remove(notFirst);
                    }
                }
            });
            return copyBlocks.First();
        }

        private static List<Block> GetChildBlocks(List<Block> blocks, int id)
        {
            var res = (new List<Block>(
                blocks.Where((child) => child.parent == id)).ToList()
                .Select((block) =>
                {
                    Block temp = new();
                    block.CloneTo(temp);
                    temp.parent = null;
                    return temp;
                }).ToList()
            );
            return res;
        }
    }
}