﻿@using System.Text.Json;
@using Cms.Data;
@page "/page-editor"
@attribute [Authorize(Roles = "Moderator,Administrator")]
@inject ApplicationDbContext dbContext

<article @onclick="ClearSelection">
    <div class="row">
        <div class="col-6 py-2">
            <h4>Pages List</h4>
            <TreeView TItem="Page" Nodes="RootNodes" OnNodeClicked="HandleNodeClicked" />
        </div>
        <EditForm Model="@selectedPage" class="col-6 border p-2" @onclick:stopPropagation="true" OnValidSubmit="@(selectedPage.id != null?UpdatePage:AddPage)">
            <DataAnnotationsValidator />
            <h4>@(selectedPage.id != null ? "Edit Page" : "Create Page")</h4>
            <div class="d-flex flex-column">
                <label>Name:</label>
                <InputText class="form-control" @bind-Value="selectedPage.name" />
                <label>Path:</label>
                <InputText class="form-control" @bind-Value="selectedPage.path" />
                <label>Description:</label>
                <InputText class="form-control" @bind-Value="selectedPage.description" />
                <label>Parent page:</label>
                <InputSelect class="form-select" @bind-Value="selectedPage.parent">
                    <option value="">None</option>
                    @foreach (var pagef in pages)
                    {
                        if (pagef.id != selectedPage.id)
                        {
                            <option value="@pagef.id">@pagef.name </option>
                        }
                    }
                </InputSelect>
                <div class="m-2">
                    <InputCheckbox class="form-check-input" id="requiresAuth" @bind-Value="selectedPage.requiresAuth" />
                    <label for="requiresAuth">Requires auth</label>
                </div>
            </div>
            @if (selectedPage.id != null)
            {
                <button class="btn btn-primary mt-2">Update</button>
                <button class="btn btn-danger mt-2" type="button" @onclick="DeletePage">Delete Block</button>
            }
            else
            {
                <button class="btn btn-primary mt-2">Create</button>
            }
            <ValidationSummary />
        </EditForm>
    </div>
    @if (message.Length > 0 && isError)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
    else if (message.Length > 0 && !isError)
    {
        <div class="alert alert-success mt-2">
            @message
        </div>
    }
</article>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    private Page selectedPage;
    private List<Page> pages;
    private bool isError = false;
    private string message = "";
    private Dictionary<int, List<Page>> id_to_childs;

    private List<TreeNode<Page>> RootNodes { get; set; }

    TreeNode<Page>? lastSelected;

    protected override void OnInitialized()
    {
        Layout.SetPageTitle("Pages Editor", "");
        UpdateTreeView();
    }
    void UpdateTreeView()
    {
        pages = dbContext.Pages.ToList();
        selectedPage = new Page();

        id_to_childs = new Dictionary<int, List<Page>>();
        foreach (var page in pages)
        {
            id_to_childs.Add((int)page.id, new List<Page>());
        }
        foreach (var page in pages)
        {
            if (page.parent != null)
                id_to_childs[(int)page.parent].Add(page);
        }

        RootNodes = new List<TreeNode<Page>>();
        foreach (var page in pages)
        {
            if (page.parent == null)
                RootNodes.Add(new TreeNode<Page>
                    {
                        Name = page.name,
                        Children = GetChilds((int)page.id),
                        Object = page,
                        IsExpanded = true
                    });
        }
    }
    private List<TreeNode<Page>> GetChilds(int parentId)
    {
        List<TreeNode<Page>> childs = new List<TreeNode<Page>>();
        foreach (var page in id_to_childs[parentId])
        {
            childs.Add(new TreeNode<Page>
                {
                    Name = page.name,
                    Children = GetChilds((int)page.id),
                    Object = page,
                    IsExpanded = true
                });
        }
        return childs;
    }

    private async Task UpdatePage()
    {
        try
        {
            if (Validate() == false) return;
            var temp = dbContext.Pages.First(u => u.id == selectedPage.id);
            selectedPage.CloneTo(temp);
            dbContext.Pages.Update(temp);
            dbContext.SaveChanges();
            UpdateTreeView();
            await ShowMessage("Saved successfully!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private async Task AddPage()
    {
        try
        {
            if (Validate() == false) return;
            dbContext.Pages.Add(selectedPage);
            dbContext.SaveChanges();
            UpdateTreeView();
            selectedPage = new Page();
            await ShowMessage("Page added!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private async Task DeletePage()
    {
        try
        {
            var temp = dbContext.Pages.First(u => u.id == selectedPage.id);
            selectedPage.CloneTo(temp);
            dbContext.Pages.Remove(temp);
            dbContext.SaveChanges();
            UpdateTreeView();
            await ShowMessage("Page deleted!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private void HandleNodeClicked(TreeNode<Page> node)
    {
        if (lastSelected != null)
        {
            lastSelected.isSelected = false;
        }
        node.Object.CloneTo(selectedPage);
        lastSelected = node;
        lastSelected.isSelected = true;
        StateHasChanged();
    }
    private void ClearSelection()
    {
        if (lastSelected != null && lastSelected.isSelected)
        {
            lastSelected.isSelected = false;
            selectedPage = new Page();
        }
    }
    public async Task ShowMessage(string message, bool isError)
    {
        this.isError = isError;
        this.message = message;
        await Task.Delay(isError ? 8000 : 3000);
        this.isError = false;
        this.message = "";
        StateHasChanged();
    }
    private bool Validate()
    {
        Page? dupl = pages.FirstOrDefault(b => b.parent == selectedPage.parent && b.path == selectedPage.path
        && b.id != selectedPage.id);
        if (dupl != null)
        {
            ShowMessage("Страница с таким маршрутом уже существует", true);
            return false;
        }
        if (selectedPage.name == "" || selectedPage.name == null)
        {
            ShowMessage("У страницы должно быть не пустое имя", true);
            return false;
        }
        if (selectedPage.path == "" || selectedPage.path == null)
        {
            ShowMessage("У страницы должно быть не пустой маршрут", true);
            return false;
        }
        return true;
    }
}
