.modal-window-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF8;
}

.modal-wrapper {
    width: 600px;
    padding: 30px;
    border: 1px solid #949494;
    border-radius: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: calc(50% - 300px);
    background-color: #FFF;
}

.modal-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}