@using System.Text.Json;
@using Cms.Data;
@using Cms.Services;
@using Microsoft.EntityFrameworkCore;
@page "/site-editor"
@inject ApplicationDbContext DbContext
@inject SiteService SiteService

<article>
    <div class="row">
        <div class="col-6 py-2">
            <h4>
                Site
            </h4>
            <div class="col-auto">
                <select class="form-select" value="@selectedSiteId" @onchange="HandleSiteSelectionChange">
                    <option value="@(Guid.Empty)">None</option>
                    @foreach (var site in sites)
                    {
                        <option value="@site.Id">@site.Name</option>
                    }
                </select>
            </div>
        </div>
        <AuthorizeView Context="authorizeContext">
            @if (@authorizeContext.User.IsInRole("Administrator") || @selectedSite.Id != Guid.Empty)
            {
                <EditForm Model="@selectedSite" class="col-6 border p-2" @onclick:stopPropagation="true" OnValidSubmit="@(selectedSite.Id != Guid.Empty ? UpdateSite : AddSite)">
                    <DataAnnotationsValidator />
                    <h4>@(selectedSite.Id != Guid.Empty ? "Edit Site #" + selectedSite.Id : "Create Site")</h4>
                    <div class="d-flex flex-column">
                        <label>Name:</label>
                        <InputText class="form-control" @bind-Value="selectedSite.Name" />
                        <label>Description:</label>
                        <InputText class="form-control" @bind-Value="selectedSite.Description" />
                        <label>Domains:</label>
                        @if (selectedSite.Domains != null)
                        {
                            @for (int row = 0; row < selectedSite.Domains.Count; row++)
                            {
                                int index = row;
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" type="text" value="@selectedSite.Domains[index]" @onchange="EventCallback.Factory.CreateBinder<string>(this, (value) =>
                                        {
                                            selectedSite.Domains[index] = value;
                                        }, selectedSite.Domains[index])" />
                                    </div>
                                </div>
                            }
                        }
                        <div class="mt-2">
                            <input type="button" class="btn btn-outline-secondary" value="Add domain" @onclick="HandleDomainAdd" />
                            <input type="button" class="btn btn-outline-secondary" value="Remove last domain" @onclick="HandleDomainDel" />
                        </div>
                        <label>Pages:</label>
                        <InputSelect class="form-select" @bind-Value="selectedPageId">
                            <option value="null">None</option>
                            @foreach (var pagef in pages)
                            {
                                if (!CheckIfPageAdded(pagef.id.ToString(), selectedSite.Pages))
                                {
                                    <option value="@pagef.id">@pagef.name </option>
                                }
                            }
                        </InputSelect>
                        <div class="mt-2">
                            @for (int row = 0; row < selectedSite.Pages.Count; row++)
                            {
                                int index = row;
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" type="text" value="@selectedSite.Pages[index].name" readonly="true" />
                                    </div>
                                </div>
                            }
                            @if (selectedPageId is not null)
                            {
                                <input type="button" class="btn btn-outline-secondary" value="Add page" @onclick="HandlePageAdd" />
                            }
                            <input type="button" class="btn btn-outline-secondary" value="Remove last page" @onclick="HandlePageDel" />
                        </div>
                        @if (@authorizeContext.User.IsInRole("Administrator"))
                        {
                            <label>User types:</label>
                            <InputSelect class="form-select" @bind-Value="selectedUserTypeId">
                                <option value="null">None</option>
                                @foreach (var userType in userTypes)
                                {
                                    if (!CheckIfUserTypeAdded(userType.Id.ToString(), selectedSite.UserTypes))
                                    {
                                        <option value="@userType.Id">@userType.Name </option>
                                    }
                                }
                            </InputSelect>
                            <div class="mt-2">
                                @for (int row = 0; row < selectedSite.UserTypes.Count; row++)
                                {
                                    int index = row;
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control" type="text" value="@selectedSite.UserTypes[index].Name" readonly="true" />
                                        </div>
                                    </div>
                                }
                                @if (selectedUserTypeId is not null)
                                {
                                    <input type="button" class="btn btn-outline-secondary" value="Add user type" @onclick="HandleUserTypeAdd" />
                                }
                                <input type="button" class="btn btn-outline-secondary" value="Remove last user type" @onclick="HandleUserTypeDel" />
                            </div>
                        }
                        <label>User type instances:</label>
                        <InputSelect class="form-select" @bind-Value="selectedUserTypeInstanceId">
                            <option value="null">None</option>
                            @foreach (var userTypeInstance in userTypeInstances)
                            {
                                if (!CheckIfUserTypeInstanceAdded(userTypeInstance.Id.ToString(), selectedSite.UserTypeInstances))
                                {
                                    <option value="@userTypeInstance.Id">@userTypeInstance.Name </option>
                                }
                            }
                        </InputSelect>
                        <div class="mt-2">
                            @for (int row = 0; row < selectedSite.UserTypeInstances.Count; row++)
                            {
                                int index = row;
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" type="text" value="@selectedSite.UserTypeInstances[index].Name" readonly="true" />
                                    </div>
                                </div>
                            }
                            @if (selectedUserTypeInstanceId is not null)
                            {
                                <input type="button" class="btn btn-outline-secondary" value="Add user type instance" @onclick="HandleUserTypeInstanceAdd" />
                            }
                            <input type="button" class="btn btn-outline-secondary" value="Remove last user type instance" @onclick="HandleUserTypeInstanceDel" />
                        </div>
                        @if (@authorizeContext.User.IsInRole("Administrator"))
                        {
                            <label>Users:</label>
                            <InputSelect class="form-select" @bind-Value="selectedAppUserId">
                                <option value="null">None</option>
                                @foreach (var appUser in appUsers)
                                {
                                    if (!CheckIfAppUserAdded(appUser.Id.ToString(), selectedSite.AppUsers))
                                    {
                                        <option value="@appUser.Id">@appUser.UserName </option>
                                    }
                                }
                            </InputSelect>
                            <div class="mt-2">
                                @for (int row = 0; row < selectedSite.AppUsers.Count; row++)
                                {
                                    int index = row;
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control" type="text" value="@selectedSite.AppUsers[index].UserName" readonly="true" />
                                        </div>
                                    </div>
                                }
                                @if (selectedAppUserId is not null)
                                {
                                    <input type="button" class="btn btn-outline-secondary" value="Add user" @onclick="HandleAppUserAdd" />
                                }
                                <input type="button" class="btn btn-outline-secondary" value="Remove last user" @onclick="HandleAppUserDel" />
                            </div>
                        }
                    </div>
                    @if (selectedSite.Id != Guid.Empty)
                    {
                        <button class="btn btn-primary mt-2">Update</button>
                        <button class="btn btn-danger mt-2" type="button" @onclick="ToggleModal">Delete Site</button>
                    }
                    else
                    {
                        <button class="btn btn-primary mt-2">Add Site</button>
                    }
                    <ValidationSummary />
                </EditForm>
            }
        </AuthorizeView>
    </div>
    @if (message.Length > 0 && isError)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
    else if (message.Length > 0 && !isError)
    {
        <div class="alert alert-success mt-2">
            @message
        </div>
    }
    @if (isModalDisplayed)
    {
        <div class="modal-window-wrapper">
            <div class="modal-wrapper">
                <p>Вы действительно хотите удалить сайт? Это действие не обратимо</p>
                <div class="modal-buttons">
                    <button class="btn btn-primary mt-2" @onclick="ToggleModal">Cancel</button>
                    <button class="btn btn-danger mt-2" @onclick="() => { DeleteSite(); ToggleModal(); }">Delete</button>
                </div>
            </div>
        </div>
    }
</article>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    private List<Site> sites = new List<Site>();
    private Site selectedSite;
    private Guid? selectedSiteId;

    private List<Page> pages;
    private string? selectedPageId;

    private List<UserType> userTypes;
    private string? selectedUserTypeId;

    private List<UserTypeInstance> userTypeInstances;
    private string? selectedUserTypeInstanceId;

    private List<AppUser> appUsers;
    private string? selectedAppUserId;

    private bool isError = false;
    private string message = "";
    private bool isModalDisplayed = false;

    private void ToggleModal()
    {
        isModalDisplayed = !isModalDisplayed;
    }

    protected override void OnInitialized()
    {
        Layout.SetPageTitle("Sites Editor", "");
        DbContext = DbContext.ReCreate();

        selectedSite = new Site();

        pages = DbContext.Pages.ToList();

        userTypes = DbContext.UserTypes.ToList();

        userTypeInstances = new List<UserTypeInstance>();

        appUsers = DbContext.Users.ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        sites = await SiteService.GetSiteListWithAllFields();

        await base.OnInitializedAsync();
    }

    private async Task UpdateSite()
    {
        try
        {
            if (Validate() == false) return;
            var temp = DbContext.Sites
                .Include(s => s.Pages)
                .Include(s => s.AppUsers)
                .Include(s => s.UserTypes)
                .Include(s => s.UserTypeInstances)
                .First((site) => site.Id == selectedSite.Id);
            UpdateUserTypeInstances(selectedSite, temp);
            selectedSite.CloneFromContext(temp, DbContext);
            await DbContext.SaveChangesAsync();
            DbContext.OnSiteChanged();
            await ShowMessage("Saved successfully!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private void UpdateUserTypeInstances(Site newSite, Site? oldSite = null)
    {
        oldSite ??= new Site();
        
        var newCopyList = new List<UserTypeInstance>(newSite.UserTypeInstances);
        var oldCopyList = new List<UserTypeInstance>(oldSite.UserTypeInstances);
        Comparison<UserTypeInstance> compSiteById = (UserTypeInstance aSite, UserTypeInstance bSite) =>
            aSite.Id.ToString().CompareTo(bSite.Id.ToString());
        newCopyList.Sort(compSiteById);
        oldCopyList.Sort(compSiteById);
        var addedInstances = new List<UserTypeInstance>();
        var removedInstances = new List<UserTypeInstance>();
        var newIndex = 0;
        var oldIndex = 0;
        if (newCopyList.Count > 0 && oldCopyList.Count > 0)
        {
            while (newIndex <= newCopyList.Count && oldIndex <= oldCopyList.Count)
            {
                var compareRes = newCopyList[Math.Min(newIndex, newCopyList.Count - 1)].Id.ToString()
                    .CompareTo(oldCopyList[Math.Min(oldIndex, oldCopyList.Count - 1)].Id.ToString());

                if (compareRes < 0) 
                {
                    if (newIndex < newCopyList.Count)
                    {
                        addedInstances.Add(newCopyList[newIndex]);
                    }
                    newIndex = newIndex + 1;
                } else if (compareRes > 0)
                {
                    if (oldIndex < oldCopyList.Count)
                    {
                        removedInstances.Add(oldCopyList[oldIndex]);
                    }
                    oldIndex = oldIndex + 1;
                } else if (compareRes == 0)
                {
                    newIndex = newIndex + 1;
                    oldIndex = oldIndex + 1;
                }
            }
        }
        for (var i = newIndex; i < newCopyList.Count; i++)
        {
            addedInstances.Add(newCopyList[i]);
        }
        for (var i = oldIndex; i < oldCopyList.Count; i++)
        {
            removedInstances.Add(oldCopyList[i]);
        }
        DbContext.AddToUserTypeInstances(addedInstances);
        DbContext.RemoveFromUserTypeInstances(removedInstances);
    }

    private async Task AddSite()
    {
        try
        {
            UpdateUserTypeInstances(selectedSite);
            await DbContext.SaveChangesAsync();
            var temp = new Site();
            selectedSite.CloneTo(temp);
            temp.UserTypeInstances = new List<UserTypeInstance>();
            temp.UserTypeInstances.AddRange(selectedSite.UserTypeInstances.Select((instance) =>
            {
                var dbInstance = DbContext.UserTypeInstances.FirstOrDefault((inst) => inst.Id == instance.Id);
                return dbInstance;
            }).ToList()!);
            DbContext.Sites.Add(temp);
            await DbContext.SaveChangesAsync();
            selectedSiteId = null;
            selectedSite = new Site();
            sites = await SiteService.GetSiteList();
            DbContext.OnSiteChanged();
            await ShowMessage("Site added!", false);
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private async Task DeleteSite()
    {
        try
        {
            var temp = DbContext.Sites.First(u => u.Id == selectedSite.Id);
            DbContext.Sites.Remove(temp);
            await DbContext.SaveChangesAsync();
            selectedSite = new Site();
            selectedSiteId = null;
            sites = await SiteService.GetSiteList();
            HandleSiteSelectionChange(new ChangeEventArgs());
            DbContext.OnSiteChanged();
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message, true);
        }
    }

    private async Task ShowMessage(string message, bool isError)
    {
        this.isError = isError;
        this.message = message;
        await Task.Delay(isError ? 8000 : 3000);
        this.isError = false;
        this.message = "";
        StateHasChanged();
    }

    private void HandleSiteSelectionChange(ChangeEventArgs e)
    {
        var result = Guid.TryParse((string)e.Value, out var id);
        if (result && id != Guid.Empty) {
            selectedSite = new Site();
            var temp = sites.FirstOrDefault(site => (Guid)site.Id == id);
            temp.CloneTo(selectedSite);
            selectedSite.UserTypeInstances = new List<UserTypeInstance>();
            var instances = DbContext.UserTypeInstances.Where((instance) => instance.Sites.FirstOrDefault((site) => site.Id == selectedSite.Id) != null).ToList();
            if (instances is not null)
            {
                selectedSite.UserTypeInstances.AddRange(instances.Select((instance) =>
                {
                    var temp = new UserTypeInstance();
                    instance.CloneTo(temp);
                    return temp;
                }).ToList());
            }
            userTypeInstances = new List<UserTypeInstance>();
            selectedSiteId = id;
            selectedSite.UserTypes.ForEach((type) =>
            {
                userTypeInstances.AddRange(DbContext.GetUserTypeInstances(type)
                    .Select((instance) =>
                    {
                        var temp = new UserTypeInstance();
                        instance.CloneTo(temp);
                        return temp;
                    }));
            });
        } else {
            selectedSite = new Site();
            selectedSiteId = Guid.Empty;
            userTypeInstances = new List<UserTypeInstance>();
        }
    }

    private void HandleDomainAdd()
    {
        if (selectedSite.Domains != null)
        {
            selectedSite.Domains.Add("");
        }
        else
        {
            selectedSite.Domains = new List<string>(new string[] { "" });
        }
    }

    private void  HandleDomainDel()
    {
        if (selectedSite.Domains == null) return;
        if (selectedSite.Domains.Count == 0) return;
        selectedSite.Domains.RemoveAt(selectedSite.Domains.Count - 1);
    }

    private void  HandlePageAdd()
    {
        var newPage = pages.FirstOrDefault((page) => page.id.ToString() == selectedPageId);
        if (newPage is null)
        {
            return;
        }
        if (selectedSite.Pages != null)
        {
            selectedSite.Pages.Add(newPage);
        }
        else
        {
            selectedSite.Pages = new List<Page>(new Page[] { newPage });
        }
        selectedPageId = null;
    }

    private void HandlePageDel()
    {
        if (selectedSite.Pages == null) return;
        if (selectedSite.Pages.Count == 0) return;
        selectedSite.Pages.RemoveAt(selectedSite.Pages.Count - 1);
    }

    private void  HandleUserTypeAdd()
    {
        var newUserType = userTypes.FirstOrDefault((userType) => userType.Id.ToString() == selectedUserTypeId);
        if (newUserType is null)
        {
            return;
        }
        if (selectedSite.UserTypes != null)
        {
            selectedSite.UserTypes.Add(newUserType);
        }
        else
        {
            selectedSite.UserTypes = new List<UserType>(new UserType[] { newUserType });
        }
        selectedUserTypeId = null;
        userTypeInstances = GetNewUserTypeInstances(selectedSite.UserTypes);
    }

    private void  HandleUserTypeDel()
    {
        if (selectedSite.UserTypes.Count == 0) return;
        selectedSite.UserTypes.RemoveAt(selectedSite.UserTypes.Count - 1);
        userTypeInstances = GetNewUserTypeInstances(selectedSite.UserTypes);
        var tempInstances = selectedSite.UserTypeInstances.Where((instance) => userTypeInstances.FirstOrDefault((inst) => inst.Id.ToString() == instance.Id.ToString()) != null).ToList();
        selectedSite.UserTypeInstances = tempInstances;
    }

    private void HandleUserTypeInstanceAdd()
    {
        var newUserTypeInstance = userTypeInstances.FirstOrDefault((userTypeInstance) => userTypeInstance.Id.ToString() == selectedUserTypeInstanceId);
        if (newUserTypeInstance is null)
        {
            return;
        }
        if (selectedSite.UserTypeInstances != null)
        {
            selectedSite.UserTypeInstances.Add(newUserTypeInstance);
        }
        else
        {
            selectedSite.UserTypeInstances = new List<UserTypeInstance>(new UserTypeInstance[] { newUserTypeInstance });
        }
        selectedUserTypeInstanceId = null;
    }

    private void HandleUserTypeInstanceDel()
    {
        if (selectedSite.UserTypeInstances == null) return;
        if (selectedSite.UserTypeInstances.Count == 0) return;
        selectedSite.UserTypeInstances.RemoveAt(selectedSite.UserTypeInstances.Count - 1);
    }

    private void HandleAppUserAdd()
    {
        var newAppUser = appUsers.FirstOrDefault((appUser) => appUser.Id.ToString() == selectedAppUserId);
        if (newAppUser is null)
        {
            return;
        }
        if (selectedSite.AppUsers != null)
        {
            selectedSite.AppUsers.Add(newAppUser);
        }
        else
        {
            selectedSite.AppUsers = new List<AppUser>(new AppUser[] { newAppUser });
        }
        selectedAppUserId = null;
    }

    private void HandleAppUserDel()
    {
        if (selectedSite.AppUsers == null) return;
        if (selectedSite.AppUsers.Count == 0) return;
        selectedSite.AppUsers.RemoveAt(selectedSite.AppUsers.Count - 1);
    }

    private bool CheckIfPageAdded(string id, List<Page> list)
    {
        return list.FirstOrDefault((item) => item.id.ToString() == id) is not null;
    }

    private bool CheckIfUserTypeAdded(string id, List<UserType> list)
    {
        return list.FirstOrDefault((item) => item.Id.ToString() == id) is not null;
    }

    private bool CheckIfUserTypeInstanceAdded(string id, List<UserTypeInstance> list)
    {
        return list.FirstOrDefault((item) => item.Id.ToString() == id) is not null;
    }

    private bool CheckIfAppUserAdded(string id, List<AppUser> list)
    {
        return list.FirstOrDefault((item) => item.Id.ToString() == id) is not null;
    }

    private List<UserTypeInstance> GetNewUserTypeInstances(List<UserType> userTypes)
    {
        var newUserTypeInstances = new List<UserTypeInstance>();
        userTypes.ForEach((userType) =>
        {
            var contextUserType = DbContext.FindUserTypeBySlug(userType.Slug);
            var items = DbContext.GetUserTypeInstances(contextUserType);
            if (items.Count > 0)
            {
                items.ForEach((item) =>
                {
                    item.Fields = new List<Field>();
                    newUserTypeInstances.Add(item);
                });
            }
        });
        return newUserTypeInstances;
    }

    private bool Validate()
    {
        return true;
    }
}
