﻿@using System.Collections.Generic
@using Cms.Data;
@typeparam TItem

<ul class="pl-1">
    @foreach (var node in Nodes)
    {
        <li class="noselect">
            <span class="toggle-button @(node.Children.Count > 0? node.IsExpanded ? "expanded" : "collapsed":"")">
                <span class="toggle-icon" @onclick="() => ToggleNode(node)"></span>
                <span class="@(node.isSelected ? "selected" :"")" @onclick:stopPropagation="true" @onclick="() => NodeClicked(node)">@node.Name</span>
            </span>
            
            @if (node.IsExpanded && node.Children.Count > 0)
            {
                <TreeView TItem="TItem" Nodes="node.Children" OnNodeClicked="OnNodeClicked" />
            }
        </li>
    }
</ul>

@code {
    [Parameter] public List<TreeNode<TItem>> Nodes { get; set; }
    [Parameter] public Action<TreeNode<TItem>> OnNodeClicked { get; set; }

    private void ToggleNode(TreeNode<TItem> node)
    {
        node.IsExpanded = !node.IsExpanded;
    }
    protected void NodeClicked(TreeNode<TItem> node)
    {
        OnNodeClicked?.Invoke(node);
    }
}
<style>
    ul {
        list-style-type: none; 
    }
    .toggle-button span{
        cursor: pointer;
    }
    .pl-1{
        padding-left: 15px;
    }

    .toggle-icon {
        display: inline-block;
        margin-right: 5px;
        width: 13px;
    }

    .toggle-icon::before {
        content: " ";
    }

    .expanded .toggle-icon::before {
        content: "▼";
    }

    .collapsed .toggle-icon::before {
        content: "▶";
    }
    .selected{
        background-color: lightskyblue;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
    }

</style>