.button {
    height: 30px;
    padding: 0 16px;
    border: 0;
    border-radius: 7px;
    background-color: #1E66F5;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.button[disabled] {
    background-color: #0000001F;
    color: #00000042;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-item-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap:wrap;
}

.list-item-number {
    width: fit-content;
    font-weight: 700;
}

.lowercase {
    text-transform: lowercase;
}

.form-label-inline {
    display: inline-flex;
    flex-direction: row;
}

.form-label-inline p {
    margin-bottom: 0;
}
