﻿@using System.Collections.Generic
@using Cms.Data;
@using System.Text.Json;
@implements ISaveForm

<div class="list-wrapper">
    <label class="form-label form-label-inline" for="@SchemeField.Slug">
        <p>@(SchemeField.GetAddName())&nbsp</p>
        <p class="lowercase">@SchemeField.Name</p>
    </label>

    <DragList
        List="ArrayData"
        Render="Render"
        OnDragCallback="ChangeOrderCallback"
    >

    </DragList>

    <div class="mt-2">
        <input
            type="button"
            class="button"
            value=@("Добавить " + SchemeField.Name)
               disabled="@(ArrayData.Count > 0 && ArrayData[ArrayData.Count - 1] == string.Empty && UserType.BaseTypes.Contains(currentUserTypesInstanceField.Type) )"
            @onclick="@(args => {
                if(currentUserTypesInstanceField.Type == "integer"){
                    ArrayData.Add("0");
                }else if(currentUserTypesInstanceField.Type == "boolean"){
                    ArrayData.Add("false");
                }else{
                    ArrayData.Add("");
                }
                tempLocalizeDictionaryList.Add(new Dictionary<string, object>() { { "", "" } });
                childFormRefs.Add(null);
                ArrayFiles.Add(new byte[0]);
                currentUserTypesInstanceField.Value =JsonSerializer.Serialize(ArrayData);
            })"
        />
    </div>
</div>

@code {
    [Parameter] public Field SchemeField { get; set; }
    [Parameter] public Field currentUserTypesInstanceField { get; set; }
    [Parameter] public ApplicationDbContext dbContext { get; set; }

    private List<string> ArrayData { get; set; }
    private List<byte[]> ArrayFiles { get; set; }
    private List<string> oldFiles { get; set; }
    private List<ISaveForm> childFormRefs;
    private List<Dictionary<string, object>> tempLocalizeDictionaryList { get; set; }

    public void SaveForm()
    {
        foreach (var form in childFormRefs)
        {
            if (form == null) continue;
            form.SaveForm();
        }

        var langToItemList = new Dictionary<string, List<string>>();
        var currentFiles = new List<string>(ArrayData);
        foreach (var item in Cms.Migrations.CustomTable.LanguageList)
        {
            langToItemList.Add(item, new List<string>());
        }
        foreach (var dic in tempLocalizeDictionaryList)
        {
            foreach (var lang in Cms.Migrations.CustomTable.LanguageList)
            {
                if (dic.ContainsKey(lang) && dic[lang] != null)
                {
                    langToItemList[lang].Add(dic[lang].ToString());
                    currentFiles.Add(dic[lang].ToString());
                }
                else
                    langToItemList[lang].Add("");
            }
        }
        if (currentUserTypesInstanceField.LocalizeDictionary == null)
        {
            currentUserTypesInstanceField.LocalizeDictionary = new Dictionary<string, object>();
        }
        foreach (var dic in langToItemList)
        {
            if (currentUserTypesInstanceField.LocalizeDictionary.ContainsKey(dic.Key))
            {
                currentUserTypesInstanceField.LocalizeDictionary[dic.Key] = JsonSerializer.Serialize(dic.Value);
            }
            else
            {
                currentUserTypesInstanceField.LocalizeDictionary.Add(dic.Key, JsonSerializer.Serialize(dic.Value));
            }
        }

        if (SchemeField.Type == "file")
        {
            foreach (var file in oldFiles)
            {
                if (!currentFiles.Contains(file))
                    Cms.Services.UploadFileService.DeleteFile(file);
            }
        }
    }

    private string? selectValue = null;

    protected override void OnInitialized()
    {
        if (currentUserTypesInstanceField.Value != null && currentUserTypesInstanceField.Value != "")
        {
            ArrayData = JsonSerializer.Deserialize<List<string>>(currentUserTypesInstanceField.Value.ToString());
        }
        else
        {
            ArrayData = new List<string>();
        }
        oldFiles = new List<string>(ArrayData);
        childFormRefs = Enumerable.Repeat<ISaveForm>(null, ArrayData.Count).ToList();
        ArrayFiles = Enumerable.Repeat<byte[]>(new byte[0], ArrayData.Count).ToList();

        // is Array Localize
        tempLocalizeDictionaryList = new List<Dictionary<string, object>>();
        foreach(var ff in ArrayData)
        {
            tempLocalizeDictionaryList.Add(new Dictionary<string, object>(){{"",""}});
        }
        if (currentUserTypesInstanceField.LocalizeDictionary == null)
            return;
        foreach (var pair in currentUserTypesInstanceField.LocalizeDictionary)
        {
            if (pair.Value == null || pair.Value == "") continue;
            var list = JsonSerializer.Deserialize<List<string>>(pair.Value.ToString());
            for (int i = 0; i < list.Count; i++)
            {
                if (list[i] == "") continue;
                tempLocalizeDictionaryList[i].Add(pair.Key, list[i]);
                oldFiles.Add(list[i]);
            }
        }
    }

    private void ChangeOrderCallback(int drop, int drag)
    {
        var target = childFormRefs[drag];
        childFormRefs.RemoveAt(drag);
        childFormRefs.Insert(drop, target);

        var localizeTarget = tempLocalizeDictionaryList[drag];
        tempLocalizeDictionaryList.RemoveAt(drag);
        tempLocalizeDictionaryList.Insert(drop, localizeTarget);

        currentUserTypesInstanceField.Value =JsonSerializer.Serialize(ArrayData);
        StateHasChanged();
    }

    private RenderFragment Render(int number)
    {
        int index = number;
        return 
    @<div class="list-item-wrapper">
            <div class="list-item-number">@(index + 1).</div>
            <InputFormField
                @key="index"
                dbContext="dbContext"
                @ref="childFormRefs[index]"
                ShowLabel="@(!UserType.BaseTypes.Contains(SchemeField.Type))"
                LocalizeDictionary="@tempLocalizeDictionaryList[index]"
                SchemeField="SchemeField"
                Value="ArrayData[index]"
                Index="index"
                IsNested="@true"
                currentFileBytes="ArrayFiles[index]"
                OnFileChanged="@((val)=>
                {
                    ArrayFiles[index] =val;
                })"
                OnValueChanged="@((val)=>
                {
                    ArrayData[index] =val==null?"":(string)val.ToString();
                    currentUserTypesInstanceField.Value =JsonSerializer.Serialize(ArrayData);
                    selectValue = val==null?"":(string)val.ToString();
                })"
                OnItemDelete="@(() =>
                {
                    if (ArrayData.Count == 0) return;
                    ArrayData.RemoveAt(index);
                    currentUserTypesInstanceField.Value = JsonSerializer.Serialize(ArrayData);
                    childFormRefs.RemoveAt(childFormRefs.Count-1);
                    ArrayFiles.RemoveAt(index);
                    tempLocalizeDictionaryList.RemoveAt(index);
                    StateHasChanged();
                })"
                OnItemAdd="@(() => {
                    ArrayData[index] = selectValue.ToString();
                    currentUserTypesInstanceField.Value = JsonSerializer.Serialize(ArrayData);
                    selectValue = null;
                    StateHasChanged();
                })"
            />
        </div>;
    }
}
