﻿@using System.Collections.Generic
@using Cms.Data;
@using System.Text.Json;
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@implements ISaveForm

@if (SchemeField.Type == UserType.BaseTypes[0])
{
    <div class="list-item-input">
        @if (ShowLabel)
        {
            <label class="form-label form-label-inline" for="@SchemeField.Slug">
                <p>Введите&nbsp</p>
                <p class="lowercase">@SchemeField.Name</p>
            </label>
        }
        <input class="form-control" id="@SchemeField.Slug"
               value="@Value"
        @oninput="@((args) =>
            {
                OnValueChanged?.Invoke(args.Value);
                if (!ShowLabel) OnItemAdd();
            })" />
        @if (!ShowLabel)
        {
            <div class="list-item-text-delete">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" @onclick="(() =>
                {
                    OnItemDelete();
                })">
                    <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                </svg>
            </div>
        }
    </div>
    @if (SchemeField.Localized)
    {
        var display = OpenLocalized ? "flex" : "none";

        <div style="padding-top: 8px; display: @display; flex-direction: column; gap: 8px; flex-basis: 100%;">
            @foreach (var pair in LocalizeDictionary)
            {
                <LocalizedFields LocalizeSelectValue="@pair.Key"
                                 LocalizeInputValue="@(pair.Value.ToString()??"")"
                                 LocalizeDictionary="@LocalizeDictionary"
                                 HandleAddLocalize="@HandleAddLocalize"
                                 HandleEditLocalize="@HandleEditLocalize"
                                 Type="@UserType.BaseTypes[0]" />
            }
        </div>
        <div style="flex-basis: 100%;">
            <button class="list-item-localize-button" @onclick='ToggleOpenLocalized'>
                @(OpenLocalized ? "Свернуть локализацию" : "Развернуть локализацию")
            </button>
        </div>
    }
}
else if (SchemeField.Type == UserType.BaseTypes[1])
{
    <div class="list-item-input">
        <input class="form-check-input" type="checkbox" id="@SchemeField.Slug"
               checked="@(Value is bool ? (bool)Value : false)"
        @oninput="@((args) =>
            {
                OnValueChanged?.Invoke(Boolean.Parse(args.Value.ToString()));
                if (!ShowLabel) OnItemAdd();
            })" />
        @if (ShowLabel)
        {
            <label class="form-check-label form-label-inline" for="@SchemeField.Slug">
                <p>Введите&nbsp</p>
                <p class="lowercase">@SchemeField.Name</p>
            </label>
        }
        else
        {
            <div class="list-item-text-delete">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" @onclick="(() =>
                {
                    OnItemDelete();
                })">
                    <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                </svg>
            </div>
        }
    </div>
}
else if (SchemeField.Type == UserType.BaseTypes[2])
{
    <div class="list-item-input">
        @if (ShowLabel)
        {
            <label class="form-label form-label-inline" for="@SchemeField.Slug">
                <p>Введите&nbsp</p>
                <p class="lowercase">@SchemeField.Name</p>
            </label>
        }
        <input class="form-control list-item-integer" type="number" id="@SchemeField.Slug"
               value="@Value"
        @oninput="@((args) =>
            {
                OnValueChanged?.Invoke(int.Parse(args.Value.ToString()));
                if (!ShowLabel) OnItemAdd();
            })" />
        @if (!ShowLabel)
        {
            <div class="list-item-text-delete">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" @onclick="(() =>
                {
                    OnItemDelete();
                })">
                    <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                </svg>
            </div>
        }
    </div>
}
else if (SchemeField.Type == UserType.BaseTypes[3])
{
    <div class="list-item-input">
        <div class="list-item-file">
            @if (ShowLabel)
            {
                <label class="form-label form-label-inline" for="@SchemeField.Slug">
                    <p>Добавление&nbsp</p>
                    <p class="lowercase">@SchemeField.Name</p>
                </label>
            }
            <div class="col">
                <input class="form-control" type="text" value="@Value" disabled>
            </div>
            <div class="col-auto">
                <label class="btn btn-outline-secondary">
                    Choose file
                    <InputFile style="display: none;" OnChange="@(async (InputFileChangeEventArgs e)=>
                    {
                        if(e.File != null)
                        {
                            HandleFileSelected(e);
                            Value =Guid.NewGuid().ToString() + Path.GetExtension(e.File.Name);
                            OnValueChanged?.Invoke(Value);
                            if (!ShowLabel) OnItemAdd();
                        }
                    })" />
                </label>
            </div>
        </div>
        @if (!ShowLabel)
        {
            <div class="list-item-text-delete">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" @onclick="OnItemDelete">
                    <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                </svg>
            </div>
        }
    </div>
    @if (SchemeField.Localized)
    {
        var display = OpenLocalized ? "flex" : "none";

        <div style="padding-top: 8px; display: @display; flex-direction: column; gap: 8px; flex-basis: 100%;">
            @foreach (var pair in LocalizeDictionary)
            {
                <LocalizedFields @key="pair.Key"
                                 @ref="localizedFieldsRefs[pair.Key]"
                                 OnFileChanged="@(((string,byte[])eventArgs)=>
                                 {
                                    //eventArgs.Item1 - lang
                                    LocalizeFiles[eventArgs.Item1] =eventArgs.Item2;
                                 })"
                                 currentFileBytes="LocalizeFiles[pair.Key]"
                                 LocalizeSelectValue="@pair.Key"
                                 LocalizeInputValue="@(pair.Value?.ToString()??"")"
                                 LocalizeDictionary="@LocalizeDictionary"
                                 HandleAddLocalize="@HandleAddLocalize"
                                 HandleEditLocalize="@HandleEditLocalize"
                                 Type="@UserType.BaseTypes[3]" />
            }
        </div>
        <div style="flex-basis: 100%;">
            <button class="list-item-localize-button" @onclick='ToggleOpenLocalized'>
                @(OpenLocalized ? "Свернуть локализацию" : "Развернуть локализацию")
            </button>
        </div>
    }
}

@code {
    [Parameter] public Field SchemeField { get; set; }
    [Parameter] public object Value { get; set; }
    [Parameter] public Dictionary<string, object> LocalizeDictionary { get; set; }
    [Parameter] public Action<object> OnValueChanged { get; set; }
    [Parameter] public Action<byte[]> OnFileChanged { get; set; }
    [Parameter] public EventCallback<Dictionary<string, object>> HandleAddLocalizeDict { get; set; }
    [Parameter] public Action OnItemAdd { get; set; }
    [Parameter] public Action OnItemDelete { get; set; }
    [Parameter] public bool ShowLabel { get; set; } = true;
    [Parameter] public int? Index { get; set; } = null;
    private Dictionary<string, ISaveForm> localizedFieldsRefs = new Dictionary<string, ISaveForm>();

    private bool OpenLocalized = false;
    [Parameter] public byte[] currentFileBytes { get; set; }
    private Dictionary<string, byte[]> LocalizeFiles { get; set; }
    public string oldValue;

    protected override void OnInitialized()
    {
        oldValue = Value == null ? "" : Value.ToString();
        LocalizeFiles = new Dictionary<string, byte[]>();
        foreach (var lang in Cms.Migrations.CustomTable.LanguageList)
        {
            LocalizeFiles.Add(lang, new byte[0]);
        }
        LocalizeFiles.Add("", new byte[0]);
        if (LocalizeDictionary != null){
            if (LocalizeDictionary.Count < Cms.Migrations.CustomTable.LanguageList.Count - 1 &&
                !LocalizeDictionary.ContainsKey(""))
                LocalizeDictionary.Add("", "");
            else if (LocalizeDictionary.Count == Cms.Migrations.CustomTable.LanguageList.Count &&
                LocalizeDictionary.ContainsKey(""))
                LocalizeDictionary.Remove("");
        }
    }
    private void ToggleOpenLocalized()
    {
        OpenLocalized = !OpenLocalized;
    }

    private void HandleAddLocalize(KeyValuePair<string, object> pair)
    {
        LocalizeDictionary.Add(pair.Key, pair.Value);
        HandleAddLocalizeDict.InvokeAsync(LocalizeDictionary);
        if (LocalizeDictionary.Count < Cms.Migrations.CustomTable.LanguageList.Count - 1 &&
            !LocalizeDictionary.ContainsKey(""))
            LocalizeDictionary.Add("", "");
        else if (LocalizeDictionary.Count == Cms.Migrations.CustomTable.LanguageList.Count &&
            LocalizeDictionary.ContainsKey(""))
            LocalizeDictionary.Remove("");
    }

    private void HandleEditLocalize(KeyValuePair<string, object> pair)
    {
        LocalizeDictionary[pair.Key] = pair.Value;
        HandleAddLocalizeDict.InvokeAsync(LocalizeDictionary);
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var cancelToken = new CancellationToken();
        using (MemoryStream memoryStream = new MemoryStream())
        {
            using (Stream stream = e.File.OpenReadStream(2097152, cancelToken))
            {
                await stream.CopyToAsync(memoryStream);
            }
            currentFileBytes = memoryStream.ToArray();
        }
        OnFileChanged(currentFileBytes);
    }

    public void SaveForm()
    {
        foreach (var pair in localizedFieldsRefs)
        {
            if (pair.Value == null) continue;
            pair.Value.SaveForm();
        }
        if (SchemeField.Type == UserType.BaseTypes[3])
            Cms.Services.UploadFileService.SaveFile(currentFileBytes, (string)Value, oldValue);
    }
}
