@page "/usertype"
@using Cms.Data;
@attribute [Authorize(Roles = "Administrator")]
@inject ApplicationDbContext dbContext

<article @onclick="ClearSelection">
    <div>
        @if (userTypes.Count == 0)
        {
            <p>Нет данных</p>
        }
        else
        {
            <TreeView TItem="UserType" Nodes="RootNodes" OnNodeClicked="HandleNodeClicked" />
        }
    </div>
    <EditForm Model="@currentUserTypes" class="border" @onclick:stopPropagation="true" OnValidSubmit="@(isEdit ? EditUserType : AddUserType)">
        <div class="row p-2">
            <div>
                <h4>@(isEdit ? "Редактировать тип данных" : "Создать тип данных")</h4>
            </div>

            <div class="d-flex flex-column col-2">
                <DataAnnotationsValidator />

                <label>Название </label>
                <InputText class="form-control" @bind-Value="currentUserTypes.Name" />
                <label>Название кодовое</label>
                <InputText class="form-control" @bind-Value="currentUserTypes.Slug" />
                <label>Описание</label>
                <InputText class="form-control" @bind-Value="currentUserTypes.Description" />
                <label>Порядок</label>
                <InputNumber class="form-control" @bind-Value="currentUserTypes.Order" />
                <label>
                    <InputCheckbox class="form-check-input"
                    @bind-Value="currentUserTypes.Localized"
                    @onclick="ToggleAllLocalizedCheckboxes" />
                    Локализация
                </label>
                <label>
                    <InputCheckbox 
                        class="form-check-input"
                        @bind-Value="currentUserTypes.ProhibitNestedForm"
                    />
                    Prohibit Nested Form
                </label>
            </div>

            <fieldset class="col-10">
                <legend>Fields</legend>
                <DragList
                    List="ListTransform(currentUserTypes.Fields)"
                    Render="Render"
                    OnDragCallback="ChangeOrderCallback"
                >

                </DragList>
                <button class="btn btn-primary mt-2" type="button" @onclick="HandleAttrAdd">Add Field</button>
            </fieldset>
            <div>
                @if (isEdit)
                {
                    <button class="btn btn-primary mt-2" type="submit">Изменить</button>
                    <button class="btn btn-danger mt-2" type="button" @onclick="DeleteUserType">Удалить</button>
                }
                else
                {
                    <button class="btn btn-primary mt-2" type="submit">Создать</button>
                }
            </div>
        </div>
        <ValidationSummary />
    </EditForm>

    @if (message.Length > 0)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
</article>
<ModalDialog @ref="modalDialog" />

@code {
    private List<UserType> userTypes;
    private List<string> fieldSelectTypes = new List<string>(UserType.BaseTypes);
    private UserType currentUserTypes;
    private string message = "";
    private bool isEdit = false;
    private List<TreeNode<UserType>> RootNodes { get; set; }
    TreeNode<UserType>? lastSelected;
    private ModalDialog modalDialog;
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout.SetPageTitle("Пользовательские типы", "");
        dbContext = dbContext.ReCreate();
        userTypes = dbContext.GetUserTypes();
        currentUserTypes = new UserType();
        currentUserTypes.Fields.Add(new Field() { Name = "Название по каталогу", Slug = "Name" });
        UpdateTN();
    }

    private void ToggleAllLocalizedCheckboxes()
    {
        if (currentUserTypes.Localized)
        {
            currentUserTypes.Fields.ForEach(field => field.Localized = false);
        }
    }

    private void UpdateTN()
    {
        RootNodes = new List<TreeNode<UserType>>();
        fieldSelectTypes.Clear();
        fieldSelectTypes.AddRange(UserType.BaseTypes);
        foreach (var userType in userTypes)
        {
            RootNodes.Add(new TreeNode<UserType>
                {
                    Name = userType.Name,
                    Children = new List<TreeNode<UserType>>(),
                    Object = userType,
                    IsExpanded = true
                });
            fieldSelectTypes.Add(userType.Slug);
        }
    }

    private async Task AddUserType()
    {
        try
        {
            if (!ValidateReqiuredFields()) return;
            dbContext.CreateCustomTable(currentUserTypes);
            userTypes = dbContext.GetUserTypes();
            currentUserTypes = new UserType();
            currentUserTypes.Fields.Add(new Field() { Name = "Name", Slug = "Name" });
            UpdateTN();
        }
        catch (Exception e)
        {
            ShowMessage(e.Message);
        }
    }

    private async Task EditUserType()
    {
        try
        {
            if (!ValidateReqiuredFields()) return;
            var temp = dbContext.FirstUserTypes(currentUserTypes.Id);
            if (currentUserTypes.Equals(temp))
            {
                currentUserTypes.CloneTo(temp);
                temp.Fields.ForEach(f => f.Id = Guid.Empty);
                temp.Sites = new List<Site>();
                temp.Sites.AddRange(currentUserTypes.Sites
                    .Select((site) =>
                    {
                        return dbContext.Sites.FirstOrDefault((s) => s.Id == site.Id);
                    }));
                dbContext.UserTypes.Update(temp);
                dbContext.SaveChanges();
                dbContext.Fields.RemoveRange(dbContext.Fields.Where(p => Microsoft.EntityFrameworkCore.EF.Property<Guid?>(p, "UserTypeId") == null).ToList());
                dbContext.SaveChanges();
            }
            else
            {
                dbContext.EditCustomTable(currentUserTypes);
            }
            dbContext.OnUserTypeChanged();
            userTypes = dbContext.GetUserTypes();
            ClearSelection();
            UpdateTN();
        }
        catch (Exception e)
        {
            ShowMessage(e.Message);
        }
    }

    private async Task DeleteUserType()
    {
        try
        {
            var temp = dbContext.FirstUserTypes(currentUserTypes.Id);
            var action = () =>
                {
                    dbContext.DeleteCustomTable(temp);
                    userTypes = dbContext.GetUserTypes();
                    ClearSelection();
                    UpdateTN();
                };
            if (dbContext.ExistLinkFields(temp))
            {
                modalDialog.Show("Warning", "Columns from other tables referring to this type will be reset", action);
            }
            else
            {
                action.Invoke();
            }
        }
        catch (Exception e)
        {
            ShowMessage(e.Message);
        }
    }

    public async Task ShowMessage(string message)
    {
        this.message += message;
        await Task.Delay(8000);
        this.message = "";
        StateHasChanged();
    }

    private async Task HandleAttrAdd()
    {
        currentUserTypes.Fields.Add(new Field());
    }
    private async Task HandleAttrDel(int index)
    {
        if (index >= currentUserTypes.Fields.Count) return;
        currentUserTypes.Fields.RemoveAt(index);
    }

    private void ClearSelection()
    {
        isEdit = false;
        if (lastSelected != null && lastSelected.isSelected)
        {
            lastSelected.isSelected = false;
            currentUserTypes = new UserType();
            currentUserTypes.Fields.Add(new Field() { Name = "Name", Slug = "Name" });
            StateHasChanged();
        }
    }

    private void HandleNodeClicked(TreeNode<UserType> node)
    {
        isEdit = true;
        if (lastSelected != null)
        {
            lastSelected.isSelected = false;
        }
        node.Object.CloneTo(currentUserTypes);
        lastSelected = node;
        lastSelected.isSelected = true;
        StateHasChanged();
    }

    private void ChangeOrderCallback(int drop, int drag)
    {
        var target = currentUserTypes.Fields[drag];
        currentUserTypes.Fields.RemoveAt(drag);
        currentUserTypes.Fields.Insert(drop, target);
        StateHasChanged();
    }

    private bool ValidateReqiuredFields()
    {
        HashSet<string> slugSet = new HashSet<string>();
        HashSet<string> nameSet = new HashSet<string>();
        foreach (var field in currentUserTypes.Fields)
        {
            if (slugSet.Contains(field.Slug))
                throw new Exception("The '" + field.Slug + "' slug is a duplicate");
            if (string.IsNullOrEmpty(field.Name))
                throw new Exception("The name field is a empty");
            if (nameSet.Contains(field.Name))
                throw new Exception("The '" + field.Name + "' name is a duplicate");

            slugSet.Add(field.Slug);
            nameSet.Add(field.Name);
        }
        return true;
    }

    private List<int> ListTransform(List<Field> list)
    {
        return list.Select((item, index) => index).ToList();
    }

    private RenderFragment Render(int index)
    {
        int crow = index;
        currentUserTypes.Fields[crow].Order = crow;
        bool nameDisabled = currentUserTypes.Fields[crow].Slug == "Name";
        var localizedDisabled = !currentUserTypes.Localized;
        return @<div class="row gy-2 gx-3 align-items-center my-2">
            <div class="col-sm">
                <InputText class="form-control" @bind-Value="currentUserTypes.Fields[crow].Name" placeholder="Название" />
            </div>
            <div class="col-sm">
                <InputText class="form-control" @bind-Value="currentUserTypes.Fields[crow].Slug" placeholder="Название кодовое" disabled="@(nameDisabled)" />
            </div>
            <div class="col-sm">
                <InputText class="form-control" @bind-Value="currentUserTypes.Fields[crow].Description" placeholder="Описание" disabled="@(nameDisabled)" />
            </div>
            <div class="col-sm">
                <select class="form-select" value="@currentUserTypes.Fields[crow].Type"
                        disabled="@(nameDisabled)"
                @onchange="@((args) =>
                            {
                                currentUserTypes.Fields[crow].Type = (string)args.Value;
                                if(!UserType.BaseTypes.Contains((string)args.Value))
                                {
                                    currentUserTypes.Fields[crow].Slug = (string)args.Value;
                                }
                            })">
                    @foreach (var val in fieldSelectTypes)
                    {
                        <option value="@val">@val</option>
                    }
                </select>
            </div>
            <div class="col-sm">
                <label>
                    <InputCheckbox class="form-check-input" @bind-Value="currentUserTypes.Fields[crow].IsNullable" disabled="@nameDisabled" />
                    IsNullable
                </label>
            </div>
            <div class="col-sm">
                <label>
                    <InputCheckbox class="form-check-input" @bind-Value="currentUserTypes.Fields[crow].IsShownInList" />
                    IsShownInList
                </label>
            </div>
            <div class="col-sm">
                <label>
                    <InputCheckbox class="form-check-input" @bind-Value="currentUserTypes.Fields[crow].IsArray" disabled="@nameDisabled" />
                    IsArray
                </label>
            </div>

            <div class="col-sm">
                <label>
                    <InputCheckbox class="form-check-input" @bind-Value="currentUserTypes.Fields[crow].Localized" disabled="@localizedDisabled" />
                    Локализация
                </label>
            </div>

            <div class="w-auto me-3">
                @if (currentUserTypes.Fields[crow].Name != "Name")
                {
                    <div role="button" @onclick="() => HandleAttrDel(crow)">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                        </svg>
                    </div>
                }
                else
                {
                    <div style="width: 21px;"></div>
                }
            </div>
        </div>
        ;
    }
}
<style>
    .arrow {
        user-select: none;
        cursor: pointer;
    }

    .arrow-container {
        flex-grow: 0;
    }
</style>