﻿@using System.Collections.Generic
@using Cms.Data;
@inherits TreeView<UserTypeInstance>
@inject NavigationManager NavigationManager

<table class="table table-wrapper">
    <thead>
        <tr class="table-header-wrapper">
            @foreach (var field in ListFields)
            {
                <th class="table-header-cell">
                    <div class="table-header-cell-inner">
                        <p class="table-header-cell-text">@field.Key</p>
                    </div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var node in NodesSlice)
        {
            <tr class="table-row-wrapper" @onclick="() => NodeClicked(node)">

                @foreach (var objField in ListFields.Select(field => node.Object.Fields.FirstOrDefault(f => f.Slug == field.Value)))
                {
                    <td class=table-row-cell @onclick="(() => NavigateToEdit(Type, node.Object.Id.ToString()))">
                        <div class="table-row-cell-outer">
                            <div class="table-row-cell-inner">
                                @objField?.Value
                            </div>
                            <div class="table-row-cell-hint">
                                @objField?.Value
                            </div>
                        </div>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<div class="pagination-wrapper">
    <div class="pagination-button" @onclick="() => SetPage(Page - 1)">
        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.22168 2.2063L3.62793 6.80005L8.22168 11.3938L6.81543 12.8L0.81543 6.80005L6.81543 0.800049L8.22168 2.2063Z" fill="black" fill-opacity="0.38"/>
        </svg>
    </div>
    @for(int i = 1; i < pagesCount + 1; i++)
    {
        int number = i;
        @if(number == 1 || number == pagesCount || number == Page || number == Page - 1 || number == Page + 1)
        {
            <div class="pagination-button @(Page == number ? "selected" : "")" @onclick="() => SetPage(number)">@number</div>
        }
        @if((number == Page - 2 && number != 1) || (number == Page + 2) && number != pagesCount)
        {
            <div class="pagination-button-placeholder">...</div>
        }
    }
    <div class="pagination-button" @onclick="() => SetPage(Page + 1)">
        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.38428 0.800049L8.38428 6.80005L2.38428 12.8L0.978027 11.3938L5.57178 6.80005L0.978027 2.2063L2.38428 0.800049Z" fill="black" fill-opacity="0.87"/>
        </svg>
    </div>
</div>

@code {
    [Parameter] public Dictionary<string, string> ListFields { get; set; }
    [Parameter] public string Type { get; set; }
    private int _page = 1;
    private int Page
    {
        get => _page;
        set => _page = Math.Max(Math.Min(value, pagesCount), 1);
    }
    private int pagesCount;

    private const int pageSize = 7;

    private void SetPage(int number)
    {
        Page = number;
    }

    private List<TreeNode<UserTypeInstance>> NodesSlice => Nodes.GetRange(
        pageSize*(Page - 1),
        pageSize*Page > Nodes.Count() ? Nodes.Count() - pageSize*(Page - 1) : pageSize
        );

    private void NavigateToEdit(string type, string id)
    {
        NavigationManager.NavigateTo($"usertypeinstance/edit?type={type}&id={id}");
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        pagesCount = (int)Math.Ceiling((Decimal)Nodes.Count()/(Decimal)pageSize);
        Page = 1;
    }
}