.table-wrapper {
    table-layout: fixed;
}

.table-header-wrapper {
    height: 63px;
}

.table-header-cell {
    height: 100%;
    padding: 0 0 13px;
    border: 0;
}

.table-header-cell-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E66F51A;
}

:first-child > .table-header-cell-inner {
    border-radius: 10px 0 0 10px;
}

:last-child > .table-header-cell-inner {
    border-radius: 0 10px 10px 0;
}

.table-header-cell-text {
    margin: 0;
}

.table-header-cell-text::first-letter {
    text-transform: uppercase;
}

.table-row-wrapper {
    height: 75px;
    cursor: pointer;
}

.table-row-cell {
    height: 100%;
    padding: 7px 0;
    border: 0;
}

.table-row-cell-outer {
    height: 100%;
    border-color: #949494;
    border-style: solid;
    border-width: 1px 0;
    border-radius: 0;
    padding: 15px 15px 12px;
}

.table-row-wrapper:hover .table-row-cell-outer {
    background-color: #1E66F533;
}

:first-child > .table-row-cell-outer {
    border-left-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

:last-child > .table-row-cell-outer {
    border-right-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-row-cell-inner {
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 16px;
}

.table-row-cell-hint {
    max-width: 525px;
    padding: 20px;
    border: 1px solid #949494;
    border-radius: 10px;
    margin-left: 150px;
    display: none;
    position: absolute;
    word-break: break-all;
    background-color: #E8F0FE;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.table-row-cell-outer:hover > .table-row-cell-hint {
    display: block;
}

.pagination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.pagination-button {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 1px 1px 0px #00000033;
}

.pagination-button:hover {
    background-color: #E8F0FE;
}

.pagination-button.selected {
    background-color: #D2E0FD;
    box-shadow: 0px 5px 5px 0px #00000033;
}

.pagination-button-placeholder {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
