﻿@page "/usermanagement"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.AspNetCore.Identity
@using Cms.Data

<article>
    @if (users.Count == 0)
    {
        <p>Нет пользователей</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Роль</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Role</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" type="button" @onclick="() => EditUserClick(user)">Изменить</button>
                            <button class="btn btn-danger btn-sm" type="button" @onclick="() => DeleteUser(user)">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h4>@(!isEdit ? "Добавить пользователя" : "Редактирование пользователя")</h4>
    <div class="row align-items-end">
        <div class="col-auto">
            <label for="name" class="form-label">Имя пользователя</label>
            <InputText id="name" class="form-control" @bind-Value="newUserName" />
        </div>
        <div class="col-auto">
            <label for="firstname" class="form-label">Имя </label>
            <InputText id="firstname" class="form-control" @bind-Value="firstName" />
        </div>
        <div class="col-auto">
            <label for="lastname" class="form-label">Фамилия</label>
            <InputText id="lastname" class="form-control" @bind-Value="lastName" />
        </div>
        <div class="col-auto">
            <label for="pass" class="form-label">Пароль</label>
            <InputText id="pass" class="form-control" type="password" @bind-Value="newUserPassword" />
        </div>
        <div class="col-auto">
            <label for="role" class="form-label">Роль</label>
            <select id="role" class="form-select" @bind="selectedRole">
                @foreach (var role in roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
        </div>
        <div class="col-auto">
            @if (!isEdit)
            {
                <button class="btn btn-primary" @onclick="AddUser">Добавить</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="EditUser">Изменить</button>
                <button class="btn btn-secondary" @onclick="NewUserClick">Отмена</button>
            }
        </div>

    </div>

    @if (message.Length > 0)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
</article>

@code {
    private List<AppUser> users;
    private AppUser currentUser;
    private List<string> roles;
    private string newUserName;
    private string firstName;
    private string lastName;
    private string newUserPassword;
    private string selectedRole;
    private string message = "";
    private bool isEdit = false;
    [Inject]
    private UserManager<AppUser> userManager { get; set; }
    [Inject]
    private RoleManager<IdentityRole> roleManager { get; set; }
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    public UserManagement()
    {
        users = new List<AppUser>();
        roles = new List<string>();
        newUserName = string.Empty;
        newUserPassword = string.Empty;
        selectedRole = "User";
        currentUser = new AppUser();
    }

    protected override async Task OnInitializedAsync()
    {
        Layout.SetPageTitle("Панель управления пользователями", "");
        users = userManager.Users.ToList();
        foreach (var user in users)
        {
            var role = await userManager.GetRolesAsync(user);
            user.Role = role.FirstOrDefault();
        }
        roles = roleManager.Roles.Select(r => r.Name).ToList();
    }

    private async Task AddUser()
    {
        var newUser = new AppUser { UserName = newUserName, FirstName = firstName, LastName = lastName };
        var result = await userManager.CreateAsync(newUser, newUserPassword);
        if (result.Succeeded)
        {
            await userManager.AddToRoleAsync(newUser, selectedRole);
            users = userManager.Users.ToList();
            await NewUserClick();
        }
        else
        {
            await ShowMessage(string.Join(", ", result.Errors.Select(e => e.Description)));
        }
    }

    private async Task EditUser()
    {
        currentUser.UserName = newUserName;
        currentUser.FirstName = firstName;
        currentUser.LastName = lastName;
        List<IdentityResult> res = new List<IdentityResult>();
        res.Add(await userManager.UpdateAsync(currentUser));
        if (newUserPassword != "")
        {
            var token = await userManager.GeneratePasswordResetTokenAsync(currentUser);
            res.Add(await userManager.ResetPasswordAsync(currentUser, token, newUserPassword));
        }
        var currentRole = (await userManager.GetRolesAsync(currentUser)).FirstOrDefault();
        if (currentRole != "" && currentRole != null)
        {
            var result2 = await userManager.RemoveFromRoleAsync(currentUser, currentRole);
        }
       
        res.Add(await userManager.AddToRoleAsync(currentUser, selectedRole));
        currentUser.Role = selectedRole;
        message = string.Empty;
        isEdit = false;
        foreach (var result in res)
        {
            if (!result.Succeeded)
            {
                ShowMessage(string.Join(", ", result.Errors.Select(e => e.Description)));
                isEdit = true;
            }
        }
        if (!isEdit)
        {
            NewUserClick();
        }
    }

    private async Task EditUserClick(AppUser user)
    {
        currentUser = user;
        newUserName = currentUser.UserName;
        firstName = currentUser.FirstName;
        lastName = currentUser.LastName;
        var roles = await userManager.GetRolesAsync(user);
        selectedRole = roles.FirstOrDefault();
        newUserPassword = "";
        isEdit = true;
    }

    private async Task NewUserClick()
    {
        newUserName = "";
        firstName = "";
        lastName = "";
        selectedRole = "User";
        newUserPassword = "";
        message = "";
        isEdit = false;
    }

    private async Task DeleteUser(AppUser user)
    {
        var result = await userManager.DeleteAsync(user);
        if (result.Succeeded)
        {
            users.Remove(user);
            message = string.Empty;
        }
        else
        {
            ShowMessage(string.Join(", ", result.Errors.Select(e => e.Description)));
        }
    }

    public async Task ShowMessage(string message)
    {
        this.message += message;
        await Task.Delay(8000);
        this.message = "";
        StateHasChanged();
    }
}
