<div class="container">
  <div *ngIf="error.length > 0; else elseBlock">
    <h3>{{ error }}</h3>
  </div>
  <ng-template #elseBlock>
    <ng-template ngFor let-row [ngForOf]="instances" let-i="index">
      <ng-template [ngIf]="!recordId || recordId.includes(row.id)">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ row["Name"] }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <ng-template ngFor let-field [ngForOf]=" usertype?.fields">
              <mat-form-field *ngIf="baseTypes.includes(field.type);else fieldblock" class="example-full-width">
                <mat-label>{{ field.name }}</mat-label>
                <input matInput [value]="row[field.slug!]" readonly />
              </mat-form-field>
              <ng-template #fieldblock>
                <app-user-type [tableSlug]="field.type" [recordId]="row[field.slug!]" />
              </ng-template>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
