<div class="container">
  <mat-card *ngIf="!isLoggedIn">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="loginForm.controls['email'].invalid"
            >Please enter a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="loginForm.controls['password'].invalid"
            >Please enter a password</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
        <mat-error *ngIf="loginError">
          Wrong login or password. Please try again.
        </mat-error>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isLoggedIn">
    <mat-card-header>
      <mat-card-title>You are logged in</mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="logout()">
        Log out
      </button>
    </mat-card-actions>
  </mat-card>
</div>
