.type-instance-header-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type-instance-header-left {
    display: flex;
    flex-direction: column;
}

.type-instance-header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.type-instance-header-text {
    margin: 0;
    font-weight: 700;
}

.type-instance-header-text:last-child {
    color: #1E66F5;
}

.type-instance-control-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type-instance-buttons-wrapper {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.type-instance-button {
    height: 28px;
    padding: 0 16px;
    border: 0;
    border-radius: 10px;
    margin: 0 !important;
    background-color: #1E66F5;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.instance-input {
    width: 200px;
    border: 0;
    transition: width 0.3s;
}

.instance-input:focus {
    width: 200px !important;
    outline: none;
}

.instance-input:placeholder-shown {
    width: 50px;
}

.instance-input::placeholder {
    color: Black;
    opacity: 1;
}

.instance-input::-ms-input-placeholder {
    color: Black;
    opacity: 1;
}

.explicit-search-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.explicit-search-unit {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.explicit-search-input {
    width: 400px;
    border: 0;
}

.explicit-search-input:focus {
    outline: none;
}

.explicit-search-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.explicit-search-open {
    background-color: transparent;
    border: 0;
    display: none;
}

.search-wrapper:focus-within .explicit-search-open {
    display: inline;
}
