@page "/usertypeinstance"
@attribute [Authorize(Roles = "Moderator,Administrator")]
@using Cms.Data
@using Cms.Services
@using System.ComponentModel
@using System.Web
@implements IDisposable

@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@inject SiteService SiteService

<article>
    @if (Scheme == null)
    {
        <p>Не выбран пользовательский тип</p>
    }
    else
    {
        <div class="type-instance-control-wrapper">
            <div class="type-instance-buttons-wrapper">
                <a href="usertypeinstance/create?type=@(Scheme.Slug)">
                    <button class="btn btn-primary mt-2 type-instance-button" type="button">
                        Добавить
                    </button>
                </a>
            </div>
        </div>
        @if (SearchFields.Count > 0)
        {
            <SearchLayout
                SearchFields="SearchFields"
                TargetList="NodesList"
                FilterFunction="FilterFunction"
                OnSearch="OnSearch"
            />
        }

        <div>
            @if (userTypeInstances.Count == 0)
            {
                <p>Нет данных</p>
            }
            else
            {
                <UserTypeTreeView Nodes="RootNodes" ListFields="ListFields" Type="@(Scheme.Slug)" OnNodeClicked="HandleNodeClicked" />
            }
        </div>
    }
    @if (message.Length > 0)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
</article>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private Dictionary<string, string> ListFields = new Dictionary<string, string>();
    private List<UserTypeInstance> userTypeInstances;
    private UserType Scheme;
    private string message = "";
    private bool isAdmin = false;

    private List<TreeNode<UserTypeInstance>> RootNodes { get; set; } = new();
    private List<TreeNode<UserTypeInstance>> NodesList { get; set; } = new();
    TreeNode<UserTypeInstance>? lastSelected;
    private List<Field> SearchFields { get; set; } = new();

    protected override void OnInitialized()
    {
        DbContext = DbContext.ReCreate();
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    
    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;
      
        if (authenticationState.User.IsInRole("Administrator"))
        {
            isAdmin = true;
        }
        OnLocation();
        await base.OnInitializedAsync();
    }

    private List<Field>? GetSearchFields()
    { 
        var fields = RootNodes
            .FirstOrDefault(node => node.Object is not null)?
            .Object
            .Fields
            .Where((field) => field.IsShownInList && field.Type == "text")
            .ToList();
        return fields;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        OnLocation();
    }

    private void OnLocation()
    {
        var uri = NavigationManager.Uri;
        if (uri.Split("/").Any(el => el.StartsWith("create") || el.StartsWith("edit"))) return;
        string queryString = NavigationManager.ToAbsoluteUri(uri).Query;
        string paramNameValue = HttpUtility.ParseQueryString(queryString).Get("type");
        Scheme = String.IsNullOrEmpty(paramNameValue) ? null : DbContext.FindUserTypeBySlug(paramNameValue);
        if (Scheme == null) return;
        ListFields = Scheme.Fields.Where(f => f.IsShownInList).ToDictionary(f => f.Name, f => f.Slug);
        UpdateTN();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task UpdateTN()
    {
        var site = isAdmin ? null : SiteService.SelectedSite;

        if (site != null && SiteService.SelectedSite.UserTypeInstances.Count == 0)
        {
            SiteService.SelectedSite.UserTypeInstances = await SiteService.GetSiteWithUserTypeInstances(SiteService.SelectedSite.Id);
        } 
        
        userTypeInstances = DbContext.GetUserTypeInstances(Scheme, site);
        Layout.SetPageTitle(Scheme.Name, "Всего " + userTypeInstances.Count.ToString() + " " + Scheme.Name);
        RootNodes = new List<TreeNode<UserTypeInstance>>();
        foreach (var userTypeInstance in userTypeInstances)
        {
            RootNodes.Add(new TreeNode<UserTypeInstance>
                {
                    Name = userTypeInstance.Name,
                    Children = new List<TreeNode<UserTypeInstance>>(),
                    Object = userTypeInstance,
                    IsExpanded = true
                });
        }
        NodesList = new(RootNodes);
        SearchFields = GetSearchFields() ?? new List<Field>();
        StateHasChanged();
    }

    private void HandleNodeClicked(TreeNode<UserTypeInstance> node)
    {
        if (lastSelected != null)
        {
            lastSelected.isSelected = false;
        }
        lastSelected = node;
        lastSelected.isSelected = true;
        StateHasChanged();
    }

    private bool FilterFunction(TreeNode<UserTypeInstance> node, Tuple<Field, string> tuple)
    {
        return node
            .Object?.Fields.FirstOrDefault((f) => f.Name == tuple.Item1.Name)?
            .Value?
            .ToString()?
            .ToLower()
            .Contains(tuple.Item2.ToLower()) ?? false;
    }

    private void OnSearch(List<TreeNode<UserTypeInstance>> list)
    {
        RootNodes = list;
        StateHasChanged();
    }
}
