@page "/usertypeinstance/edit"
@attribute [Authorize(Roles = "Moderator,Administrator")]
@using Cms.Data
@using System.Text.Json
@using Cms.Services
@using System.Web
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@inject SiteService SiteService

<article>
    @if (Scheme == null)
    {
        <p>Не выбран пользовательский тип</p>
    }
    else
    {
        <div class="row p-2" @onclick:stopPropagation="true">
            <div class="type-instance-header-wrapper">
                <div class="type-instance-header-left">
                    <button class="button" type="submit" @onclick="HandleBackClick">Назад</button>
                </div>
            </div>

            <fieldset>
                <InputFormField @ref="form"
                                dbContext="@DbContext"
                                SchemeField="emulatedField"
                                IsExpanded="true"
                                IsRootForm="true"
                                ShowLabel="false"
                                Value="emulatedField.Value"
                                OnValueChanged="@((val)=>{})"
                                OnItemDelete="@(()=>{})"
                                OnItemAdd="@(()=>{})" />
            </fieldset>
            <div class="button-wrapper">
                <button class="footer-button" type="button" @onclick="EditUserType">
                    Изменить @Scheme.Name
                </button>
                <button class="footer-button delete" type="button" @onclick="DeleteUserType">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.04522 2C5.04522 1.46957 5.25784 0.960859 5.63631 0.585786C6.01478 0.210714 6.52808 0 7.06332 0H13.1176C13.6528 0 14.1661 0.210714 14.5446 0.585786C14.9231 0.960859 15.1357 1.46957 15.1357 2V4H19.1719C19.4395 4 19.6961 4.10536 19.8854 4.29289C20.0746 4.48043 20.1809 4.73478 20.1809 5C20.1809 5.26522 20.0746 5.51957 19.8854 5.70711C19.6961 5.89464 19.4395 6 19.1719 6H18.0932L17.2183 18.142C17.1821 18.6466 16.9543 19.1188 16.5807 19.4636C16.2072 19.8083 15.7157 20 15.2053 20H4.97459C4.46416 20 3.97268 19.8083 3.59915 19.4636C3.22562 19.1188 2.99779 18.6466 2.96155 18.142L2.08872 6H1.00905C0.74143 6 0.484775 5.89464 0.295542 5.70711C0.10631 5.51957 0 5.26522 0 5C0 4.73478 0.10631 4.48043 0.295542 4.29289C0.484775 4.10536 0.74143 4 1.00905 4H5.04522V2ZM7.06332 4H13.1176V2H7.06332V4ZM4.11085 6L4.9756 18H15.2063L16.0711 6H4.11085ZM8.07236 8C8.33998 8 8.59663 8.10536 8.78586 8.29289C8.97509 8.48043 9.0814 8.73478 9.0814 9V15C9.0814 15.2652 8.97509 15.5196 8.78586 15.7071C8.59663 15.8946 8.33998 16 8.07236 16C7.80474 16 7.54809 15.8946 7.35886 15.7071C7.16962 15.5196 7.06332 15.2652 7.06332 15V9C7.06332 8.73478 7.16962 8.48043 7.35886 8.29289C7.54809 8.10536 7.80474 8 8.07236 8ZM12.1085 8C12.3762 8 12.6328 8.10536 12.822 8.29289C13.0113 8.48043 13.1176 8.73478 13.1176 9V15C13.1176 15.2652 13.0113 15.5196 12.822 15.7071C12.6328 15.8946 12.3762 16 12.1085 16C11.8409 16 11.5843 15.8946 11.395 15.7071C11.2058 15.5196 11.0995 15.2652 11.0995 15V9C11.0995 8.73478 11.2058 8.48043 11.395 8.29289C11.5843 8.10536 11.8409 8 12.1085 8Z" fill="#FF6060" />
                    </svg>
                    Удалить @Scheme.Name
                </button>
            </div>
        </div>
    }
    @if (message.Length > 0)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
</article>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private UserType Scheme;
    private string message = "";
    private InputFormField form;
    private Field emulatedField;
    private bool isAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;

        if (authenticationState.User.IsInRole("Administrator"))
        {
            isAdmin = true;
        }
        DbContext = DbContext.ReCreate();
        OnLocation();
    }

    private void OnLocation()
    {
        var queryString = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;
        var paramNameValue = HttpUtility.ParseQueryString(queryString).Get("type");
        var paramId = HttpUtility.ParseQueryString(queryString).Get("id");
        var res = Guid.TryParse(paramId, out var instanceId);        

        Scheme = string.IsNullOrEmpty(paramNameValue) ? null : DbContext.FindUserTypeBySlug(paramNameValue);
        if (Scheme == null || !res) return;
        emulatedField = InputFormField.CreateEmulatedField(Scheme, instanceId);
        InvokeAsync(async () =>
        {
            var site = isAdmin ? null : SiteService.SelectedSite;

            if (site != null && SiteService.SelectedSite.UserTypeInstances.Count == 0)
            {
                SiteService.SelectedSite.UserTypeInstances = await SiteService.GetSiteWithUserTypeInstances(SiteService.SelectedSite.Id);
            }
            var userTypeInstances = DbContext.GetUserTypeInstances(Scheme, site);
            Layout.SetPageTitle(Scheme.Name, "Всего " + userTypeInstances.Count.ToString() + " " + Scheme.Name);
        });
    }

    private async Task EditUserType()
    {
        try
        {
            form.SaveForm();
            HandleBackClick();
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message);
        }
    }

    private async Task DeleteUserType()
    {
        try
        {
            form.DeleteUserType();
            HandleBackClick();
        }
        catch (Exception e)
        {
            await ShowMessage(e.Message);
        }
    }

    private async Task ShowMessage(string message)
    {
        this.message += message;
        await Task.Delay(8000);
        this.message = "";
        StateHasChanged();
    }

    private void HandleBackClick()
    {
        NavigationManager.NavigateTo($"usertypeinstance?type={Scheme.Slug}");
    }
}
