.type-instance-header-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type-instance-header-left {
    display: flex;
    flex-direction: column;
}

.type-instance-header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.type-instance-header-text {
    margin: 0;
    font-weight: 700;
}

.type-instance-header-text:last-child {
    color: #1E66F5;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    margin-top: 30px;
}

.button {
    height: 30px;
    padding: 0 16px;
    border: 0;
    border-radius: 7px;
    background-color: #1E66F5;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-button {
    height: 38px;
    padding: 0 16px;
    border: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    background-color: #1E66F5;
    color: white;
}

.footer-button.delete {
    background-color: #FF6060;
}

.footer-button.delete svg {
    margin-top: -3px;
}

.footer-button.delete path {
    fill: #FFFFFF;
}
