@page "/usertypeinstance/create"
@attribute [Authorize(Roles = "Moderator,Administrator")]
@using Cms.Data
@using Cms.Services
@inject ApplicationDbContext dbContext
@inject NavigationManager NavigationManager

<article>
    @if (Scheme == null)
    {
        <p>Не выбран пользовательский тип</p>
    }
    else
    {
        <div class="row p-2" @onclick:stopPropagation="true">
            <div class="type-instance-header-wrapper">
                <div class="type-instance-header-left">
                    <button class="button" type="submit" @onclick="HandleBackClick">Назад</button>
                </div>
            </div>

            <fieldset>
                <InputFormField @ref="form"
                                dbContext="dbContext"
                                SchemeField="emulatedField"
                                IsExpanded="true"
                                IsRootForm="true"
                                ShowLabel="false"
                                LocalizeDictionary="emulatedField.LocalizeDictionary"
                                Value="emulatedField.Value"
                                OnValueChanged="@((val)=>{})"
                                OnItemDelete="@(()=>{})"
                                OnItemAdd="@(()=>{})" />
            </fieldset>
            <div class="button-wrapper">
                <button class="footer-button" type="submit" @onclick="AddInstance">Создать @Scheme.Name</button>
            </div>
        </div>
    }
    @if (message.Length > 0)
    {
        <div class="alert alert-danger mt-2">
            @message
        </div>
    }
</article>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private UserType Scheme;
    private string message = "";
    private bool isAdmin = false;
    private InputFormField form;
    private Field emulatedField;

    protected override void OnInitialized()
    {
        dbContext = dbContext.ReCreate();
        OnLocation();
    }

    private void OnLocation()
    {
        var queryString = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;
        var paramNameValue = System.Web.HttpUtility.ParseQueryString(queryString).Get("type");
        Scheme = String.IsNullOrEmpty(paramNameValue) ? null : dbContext.FindUserTypeBySlug(paramNameValue);
        if (Scheme == null) return;
        emulatedField = InputFormField.CreateEmulatedField(Scheme, Guid.Empty);
    }

    private async Task AddInstance()
    {
        try
        {
            form.SaveForm();
            var Id = form.CurrentUserTypesInstance.Id;
            NavigationManager.NavigateTo($"usertypeinstance/edit?type={Scheme.Slug}&id={Id}");
         }
         catch (Exception e)
         {
             ShowMessage(e.Message);
         }
    }

    private async Task ShowMessage(string message)
    {
        this.message += message;
        await Task.Delay(8000);
        this.message = "";
        StateHasChanged();
    }

    private void HandleBackClick()
    {
        NavigationManager.NavigateTo($"usertypeinstance?type={Scheme.Slug}");
    }
}
