.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-card-header {
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

mat-card-title {
  font-size: 2em;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}