{{#if (eq operation.method "patch") }}
{{{bodyMethodTsComments}}}{{methodName}}({{>operationPatchParameters}}): Observable<{{{resultType}}}> {
    const request = {...params, body: compare(params.from, params.to)};

    return this.{{responseMethodName}}(request).pipe(
{{else}}
{{{bodyMethodTsComments}}}{{methodName}}({{>operationParameters}}): Observable<{{{resultType}}}> {

    return this.{{responseMethodName}}(params).pipe(
{{/if}}
      map((r: {{@root.responseClass}}<{{{resultType}}}>) => r.body as {{{resultType}}})
    );
  }
