params{{^operation.parametersRequired}}?{{/operation.parametersRequired}}: {
{{#operation.parameters}}
{{tsComments}}{{{var}}}{{^required}}?{{/required}}: {{{type}}};{{#tsComments}}{{/tsComments}}
{{/operation.parameters}}
{{#requestBody}}
{{{../operation.requestBody.tsComments}}}from: {{{type}}};
{{{../operation.requestBody.tsComments}}}to: {{{type}}};
{{/requestBody}}
  }
