@using System.Net
@using Cms.Data
@using Microsoft.AspNetCore.Components
@inject ApplicationDbContext dbContext

<style>
    .app-select .mat-select {
        height: 30px;
        width: 100%;
        border: 1px solid #0000006B;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF !important;
        font-size: 14px;
        line-height: 16px;
        text-overflow: ellipsis;
    }

    .app-select .mdc-select__anchor {
        height: 100% !important;
        padding: 0 !important;
        background-color: #FFFFFF !important;
    }

    .app-select .mdc-select__ripple, .mdc-line-ripple {
        display: none !important;
    }

    .app-select .mdc-select__anchor::before {
        display: none !important;
    }

    .app-select .mdc-select__selected-text {
        display: none;
    }

    .app-select .mdc-select__dropdown-icon {
        width: 100% !important;
        padding-right: 12px !important;
        margin: 0 !important;
        justify-content: end !important;
    }

    .app-select .mdc-select__dropdown-icon-graphic {
        width: 12px !important;
        fill: #0000008A !important;
    }

    .app-select .mdc-list {
        width: 100%;
        display: table;
        padding: 0;
        z-index: 3;
    }

    .app-select .mdc-list-item::before {
        display: none;
    }
</style>
<div class="list-item-select-wrapper">
    <div class="app-select">
        <MatSelect
            FullWidth="true"
            Value="@string.Empty"
        >
            <div class="list-search-wrapper">
                <label>
                    @SearchLabel
                </label>
                <SearchLayout
                    SearchFields="GetNameField()"
                    TargetList="InstancesList"
                    FilterFunction="FilterFunction"
                    OnSearch="OnSearch"
                    ShowLabel="@false"
                />
            </div>
            @foreach (var item in UserTypeInstances)
            {
                @if (item.Id == Guid.Empty)
                {
                    <div class="list-item-select-new mdc-list-item" value="@item.Id.ToString()" @onclick="() => {
                        selectedId = item.Id.ToString();
                        OnValueChanged(selectedId);
                    }">
                        @item.Fields.First(f => f.Slug == "Name").Value
                    </div>
                } else
                {
                    <div class="list-item-select-option mdc-list-item" value="@item.Id.ToString()" @onclick="() => {
                        selectedId = item.Id.ToString();
                        OnValueChanged(selectedId);
                    }">
                        @foreach (var field in item.Fields.Where((field) => field.IsShownInList))
                        {
                            <div class="list-item-nested @(field.Slug == "Name" ? "name" : "")">
                                <div class="list-item-nested-inner" style='@(field.Value == null || field.Value.ToString() == string.Empty ? "height: 0" : "")'>@field.Value</div>
                            </div>
                        }
                    </div>
                }
            }
        </MatSelect>
        <div class="list-selected-value-outer">
            <div class="list-selected-value-inner">
                <div class="list-item-nested-wrapper">
                    @if (selectedId != null)
                    {
                        var item = UserTypeInstances.FirstOrDefault((instance) => instance.Id.ToString() == selectedId);
                        @if (item != null)
                        {
                            @if (selectedId != Guid.Empty.ToString())
                            @foreach (var field in item.Fields.Where((field) => field.IsShownInList))
                            {
                                <div class="list-item-selected @(field.Slug == "Name" ? "name" : "")">
                                    <div class="list-item-selected-inner">@field.Value</div>
                                </div>
                            } else
                            {
                                <div class="list-item-selected name">
                                    <div class="list-item-selected-inner">@item.Fields.First(f => f.Slug == "Name").Value</div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Action<object> OnValueChanged { get; set; } = (object obj) => {};
    [Parameter] public List<UserTypeInstance> UserTypeInstances { get; set; } = new();
    [Parameter] public string SearchLabel { get; set; } = string.Empty;

    private bool isCollapsed = true;
    private string? selectedId = null;
    private List<UserTypeInstance> InstancesList = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        InstancesList = new(UserTypeInstances);
    }

    private List<Field> GetNameField()
    {
        var result = new List<Field>();
        var nameField = UserTypeInstances.FirstOrDefault()?
            .Fields.FirstOrDefault((field) => field.Slug == "Name");
        if (nameField is not null)
            result.Add(nameField);
        return result;
    }

    private bool FilterFunction(UserTypeInstance instance, Tuple<Field, string> tuple)
    {
        return instance.Name.ToLower().Contains(tuple.Item2.ToLower())
            || instance.Id == Guid.Empty;
    }

    private void OnSearch(List<UserTypeInstance> list)
    {
        UserTypeInstances = list;
        StateHasChanged();
    }
}
