.list-item-select-wrapper {
    flex-grow: 1;
}

.list-item-select-option {
    height: 52px;
    padding: 10px;
    display: table-row;
    font-size: 14px;
    line-height: 16px;
}

.list-item-select-new {
    height: 52px;
    width: 100%;
    padding: 10px !important;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    display: table-caption;
    caption-side: top;
}

.list-item-select-option:hover, .list-item-select-new:hover {
    background-color: #D2E0FD;
}

.list-item-selected-inner {
    height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.list-item-selected {
    height: 100%;
    display: table-cell;
    text-overflow: ellipsis;
    overflow: clip;
}

.list-item-selected.name {
    font-weight: 700;
}

.list-item-selected:first-child .list-item-selected-inner
{
    padding-left: 15px;
}

.list-item-selected:last-child .list-item-selected-inner
{
    padding-right: 30px;
}

.list-item-nested-wrapper {
    height: 100%;
    width: calc(100% - 30px);
    display: table-row;
}

.list-item-nested {
    height: 100%;
    padding: 10px;
    display: table-cell;
}

.list-item-nested.name {
    font-weight: 700;
}

.list-item-nested-inner {
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.list-selected-value-outer {
    position: relative;
    height: 0;
    pointer-events: none;
}

.list-selected-value-inner {
    width: 100%;
    position: absolute;
    top: -21px;
    height: 30px;
    width: 100%;
    display: table;
}

.list-search-wrapper {
    padding: 10px;
}

