@typeparam TItem

<div>
    @for (int row = 0; row < List.Count; row++)
    {
        int index = row;
        <div
            class="d-flex flex-row align-items-center dragable"
            draggable="true"
            @ondragstart="@(() => Drag(index))"
            @ondrop="@(() => Drop(index))"
            ondragover="event.preventDefault();"
        >
            <img src="public/DragUnitIcon.svg" style="height: 30px; margin-right: 10px" />
            <div style="flex-grow: 1">
                @Render(index)
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public List<TItem> List { get; set; } = new List<TItem>();
    [Parameter] public Func<int, RenderFragment> Render { get; set; }
    [Parameter] public Action<int, int> OnDragCallback { get; set; } = (drop, drag) => {};

    private int dataTransferIndex = 0;

    private void Drag(int index)
    {
        dataTransferIndex = index;
    }

    private void Drop(int index)
    {
        var target = List[dataTransferIndex];
        List.RemoveAt(dataTransferIndex);
        List.Insert(index, target);
        OnDragCallback(index, dataTransferIndex);
    }
}