﻿@using Cms.Data
@using Cms.Services
@using Cms.Pages
@inherits LayoutComponentBase
@inject SiteService SiteService
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>CMS</PageTitle>

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main class="mygrid content px-4">
            @*<div class="top-row px-4 auth">
            <AuthorizeView>
            <Authorized>
            <select class="form-select site-select" value="@selectedSiteId" @onchange="HandleSiteSelectionChange">
            <option value="@(Guid.Empty)">None</option>
            @foreach (var site in sites)
            {
            <option value="@site.Id">@site.Name</option>
            }
            </select>
            </Authorized>
            </AuthorizeView>
            <LoginDisplay />
            </div>*@
            <ArticleHeader Header="@pageHeader" Subheader="@pageSubheader" />
            @Body
        </main>
    </div>
</CascadingValue>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<Site> sites;
    private bool isAdmin = false;
    private Guid? selectedSiteId = Guid.Empty;
    private string pageHeader = "";
    private string pageSubheader = "";

    public void SetPageTitle(string header, string subheader)
    {
        pageHeader = header;
        pageSubheader = subheader;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ApplicationDbContext.SiteChanged -= SiteListReload;
        ApplicationDbContext.SiteChanged += SiteListReload;
    }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;

        if (authenticationState.User.IsInRole("Administrator"))
        {
            isAdmin = true;
        }

        sites = await SiteService.GetSiteList();

        if (sites.Count > 0)
        {
            selectedSiteId = sites[0].Id;
            SiteService.SelectedSite = sites[0];
        } else {
            SiteService.SelectedSite = new Site();
        }
        
        await base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (!firstRender) return;
        DbContext.OnUserTypeChanged();
        NavigationManager.NavigateTo("/");
    }

    private async void SiteListReload(object sender, EventArgs e)
    {
        await InvokeAsync(async () =>
        {
            sites = await SiteService.GetSiteList((ApplicationDbContext)sender);
            selectedSiteId = Guid.Empty;
            StateHasChanged();
        });
    }

    private void HandleSiteSelectionChange(ChangeEventArgs e)
    {
        var result = Guid.TryParse((string)e.Value, out var id);
        if (result && (id != Guid.Empty))
        {
            SiteService.SelectedSite = sites.FirstOrDefault(site => (Guid)site.Id == id);
            selectedSiteId = SiteService.SelectedSite.Id;
        } else
        {
            SiteService.SelectedSite = new Site();
            selectedSiteId = Guid.Empty;
        }
        string queryString = NavigationManager.Uri;
        if (!isAdmin && queryString.Contains("usertypeinstance"))
        {
            string paramNameValue = System.Web.HttpUtility.ParseQueryString(queryString).Get("type");
            if (!SiteService.SelectedSite.UserTypes.Exists((userType) => userType.Name == paramNameValue))
            {
                NavigationManager.NavigateTo("/");
            }
        }
        DbContext.OnUserTypeChanged();
    }
}
