﻿@using Cms.Pages
@using Cms.Data
@using Cms.Services
@inject ApplicationDbContext dbContext
@inject IHttpContextAccessor httpContextAccessor
@inject SiteService SiteService

<nav class="navbar">
    <p class="navbar-brand">
        MuseCMS<br />
        @Version
    </p>
    <div class="navbar-block">
        <NavLink class="nav-link" ActiveClass="nav-link-active" href="" Match="NavLinkMatch.All">
            Главная
        </NavLink>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <NavLink class="nav-link" ActiveClass="nav-link-active" href="usermanagement">
                    User Management
                </NavLink>
                <NavLink class="nav-link" ActiveClass="nav-link-active" href="usertype">
                    Manage User Types
                </NavLink>
                <NavLink class="nav-link" ActiveClass="nav-link-active" href="/json-editor">
                    Blocks Editor
                </NavLink>
                <NavLink class="nav-link" ActiveClass="nav-link-active" href="/page-editor">
                    Pages Editor
                </NavLink>
                <NavLink class="nav-link" ActiveClass="nav-link-active" href="/site-editor">
                    Site Management
                </NavLink>
                <DropDownList listItems="listItems" Title="User Types"/>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Moderator">
            <Authorized>
                @foreach (var item in listItems)
                {
                    <NavLink class="nav-link" ActiveClass="nav-link-active" href="@item[1]">
                        @item[0]
                    </NavLink>
                }
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool isAdmin = false;

    private List<string[]> listItems;

    private string Version;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Version = System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version.ToString();
        ApplicationDbContext.UserTypeChanged -= ListRender;
        ApplicationDbContext.UserTypeChanged += ListRender;
    }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        var authenticationState = await authenticationStateTask;
      
        if (authenticationState.User.IsInRole("Administrator"))
        {
            isAdmin = true;
        }
        ListRender(dbContext, new EventArgs());
    }

    private async void ListRender(object sender, EventArgs e)
    {
        List<UserType> userTypes;
        if (isAdmin)
        {
            var appDbContext = sender as ApplicationDbContext;
            userTypes = appDbContext.UserTypes.ToList();
        } else
        {
            userTypes = SiteService.SelectedSite.UserTypes;
        }
        var newListItems = userTypes.OrderBy(el => el.Order).Select(p => new string[] { p.Name, p.Slug }).ToList();
        foreach (var item in newListItems)
        {
            item[1] = "usertypeinstance?type=" + item[1];
        }

        // Use InvokeAsync to switch back to the UI thread for updating the UI components
        await InvokeAsync(() =>
        {
            listItems = newListItems;
            StateHasChanged();
        });
    }
}
