.navbar {
    background-color: #1E66F5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

::deep .nav-link {
    background-color: #1E66F5;
    color: white;
    text-decoration: none;
    padding-left: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    line-height: 18.4px;
}

::deep .nav-link-active {
    background-color: white;
    color: black;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 56px;
}

.navbar-block {
    padding-left: 10px;
    width: 100%;
}
