@typeparam TItem
@using Cms.Data
@using Cms.Shared
@using System.Timers

<div class="explicit-search-wrapper">
    @foreach (var tuple in SearchTuples)
    {
        <div class="explicit-search-unit">
            @if (ShowLabel)
            {
                <label>
                    Поиск по @tuple.Item1.Slug
                </label>
            }
            <div>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5014 11.0014H11.7114L11.4314 10.7314C12.0564 10.0054 12.5131 9.15021 12.769 8.22705C13.0248 7.30389 13.0735 6.33559 12.9114 5.39144C12.4414 2.61144 10.1214 0.39144 7.32144 0.0514397C6.33706 -0.0730946 5.33723 0.0292113 4.39846 0.350529C3.4597 0.671846 2.60688 1.20366 1.90527 1.90527C1.20366 2.60688 0.671846 3.4597 0.350529 4.39846C0.0292113 5.33723 -0.0730946 6.33706 0.0514397 7.32144C0.39144 10.1214 2.61144 12.4414 5.39144 12.9114C6.33559 13.0735 7.30389 13.0248 8.22705 12.769C9.15021 12.5131 10.0054 12.0564 10.7314 11.4314L11.0014 11.7114V12.5014L15.2514 16.7514C15.6614 17.1614 16.3314 17.1614 16.7414 16.7514C17.1514 16.3414 17.1514 15.6714 16.7414 15.2614L12.5014 11.0014ZM6.50144 11.0014C4.01144 11.0014 2.00144 8.99144 2.00144 6.50144C2.00144 4.01144 4.01144 2.00144 6.50144 2.00144C8.99144 2.00144 11.0014 4.01144 11.0014 6.50144C11.0014 8.99144 8.99144 11.0014 6.50144 11.0014Z" fill="black" />
                </svg>
                <input class="explicit-search-input" @oninput="@(e => FilterByField(tuple, e))" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public List<Field> SearchFields { get; set; } = new();
    [Parameter] public List<TItem> TargetList { get; set; } = new();
    [Parameter] public Func<TItem, Tuple<Field, string>, bool> FilterFunction { get; set; } = (TItem item, Tuple<Field, string> tuple) => false;
    [Parameter] public Action<List<TItem>> OnSearch { get; set; } = (List<TItem> list) => {};
    [Parameter] public bool ShowLabel { get; set; } = true;

    private List<Field> FieldsState = new();
    private List<Tuple<Field, string>> SearchTuples = new();
    private DebounceWrapper? Debounce;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Debounce = new(this.ApplyFilter, 500);
        FieldsState = SearchFields;
        UpdateSearchTuples();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (FieldsState != SearchFields)
        {
            FieldsState = SearchFields;
            UpdateSearchTuples();
        }
    }

    private void UpdateSearchTuples()
    {
        SearchTuples.Clear();
        SearchFields.ForEach((field) =>
        {
            SearchTuples.Add(Tuple.Create(field, string.Empty));
        });
        StateHasChanged();
    }

    private void FilterByField(Tuple<Field, string> tuple, ChangeEventArgs e)
    {
        var changedIndex = SearchTuples.FindIndex((t) => t == tuple);
        if (changedIndex != -1)
        {
            SearchTuples[changedIndex] = Tuple.Create(tuple.Item1, (e.Value?.ToString() ?? string.Empty));
        }
        Debounce?.Run();
    }

    private async void ApplyFilter()
    {
        var query = TargetList.AsQueryable();
        foreach (var tuple in SearchTuples)
        {
            if (tuple.Item2 != string.Empty)
            {
                query = query.Where((item) => FilterFunction(item, tuple));
            }
        }
        await InvokeAsync(() => OnSearch(query.ToList()));
    }
}