.explicit-search-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.explicit-search-unit {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.explicit-search-input {
    width: 400px;
    border: 0;
}

.explicit-search-input:focus {
    outline: none;
}

.explicit-search-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.explicit-search-open {
    background-color: transparent;
    border: 0;
    display: none;
}

.search-wrapper:focus-within .explicit-search-open {
    display: inline;
}
